# 0) Chargement de spark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

# 1) Lire de la donnée

## 1.1) Lecture brute

Chargez le fichier ville_1.csv dans une variable nommée df.

Vous pouvez afficher votre donnée en utilisant la méthode take() ou la methode collect() de l'objet pyspark DataFrame (attention appeler collect() sur un dataframe est déconseillé si vous avez du vrai big data).

L'objet possède aussi un attribut appelé dtypes, appelez cet attribut pour obtenir la liste des colonnes et leur type.

In [8]:
path = "./data/Villes/ville_1.csv"
path1 = "./data/Cyclistes/cycliste_1.csv"
path2 = "./data/Vaccinations/vacsi-reg-classe-age-2021-01-29.csv"
#path3 = "./data/Covid/vacsi-reg-sexe-2021-01-29.csv"
df2 = spark.read.load(path2, format="csv")
df2.dtypes

AnalysisException: Path does not exist: file:/home/jovyan/work/data/Vaccinations/vacsi-reg-classe-age-2021-01-29.csv;

In [19]:
df3 = spark.read.load(path3, format="csv")
df3.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string')]

## 1.2) Lecture avec les entêtes

Recharger le même fichier mais cette fois-ci utilisez l'option header pour rajouter les noms de colonnes à votre df.

Appelez l'attribut dtypes et comparez la sortie avec celle de la lecture brute.

In [ ]:
 df2 = spark.read.format('csv').options(header=True).load(path2)
df2.dtypes

## 1.3) Lecture avec les types détectés automatiquement

Recharger le fichier avec  l'option inferShema.

L'option 'inferSchema' permet de transformer les colonnes en types plus précis : entier  / booléens / chaines de caractères... bien sûr spark trouve les types uniquement si le fichier d'origine permet de les trouver de manière simple

In [7]:
df2 = spark.read.format('csv').options(header=True, inferSchema=True).load(path2)
df2.dtypes

AnalysisException: Path does not exist: file:/home/jovyan/work/data/Covid/vacsi-reg-classe-age-2021-01-29.csv;

In [24]:
df2.take(5)

[Row(Code='01;Guadeloupe;0;26/01/2021;0', Libellé=None, Classe d'age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;18-24;26/01/2021;N/A - résultat non disponible', Libellé=None, Classe d'age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;25-29;26/01/2021;N/A - résultat non disponible', Libellé=None, Classe d'age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;30-39;26/01/2021;0', Libellé=None, Classe d'age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;40-49;26/01/2021;0', Libellé=None, Classe d'age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None)]

## 1.4) L'attribut schema

Il vous permet d'afficher le schéma de votre df, avec pour chaque colonne son nom, son type, et si elle accepte les valeurs nulles ou non.

In [6]:
df2.schema

NameError: name 'df2' is not defined

Vous avez aussi la méthode printSchema() qui permet d'afficher le shéma du df de manière plus lisible.

In [26]:
df.printSchema()

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe d'age: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: string (nullable = true)

# 2) Ecriture de la dataframe sur le disque

Sauvegardez le df sous différents formats.

## 2.1) choix du format : csv

In [5]:
df2.write.format("csv").save("./data/Covid/csv")

NameError: name 'df2' is not defined

## 2.2) choix du format : parquet

In [39]:
df2_new = df2.withColumnRenamed("Classe d'age", "Classe age").printSchema()

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe age: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: string (nullable = true)

In [34]:
type(df2)

pyspark.sql.dataframe.DataFrame

In [42]:
#df2_new.write.format("parquet").save("./data/Covid/parquet")

## 2.3) choix du format : json

In [43]:
df2.write.save("./data/Covid/json", format="json")

## 2.4) Lecture de différents formats

Vous pouvez choisir de lire le df sous un format ou un autre en utilisant l'argument format dans la fonction spark.read.load

In [22]:
# le ! vous permet d'executer des commandes dans votre terminal depuis le notebook
!ls ./data/Villes/ville/

part-00000-fce2c981-9f54-4b6d-aea0-2fd8ff681525-c000.json  _SUCCESS

In [23]:
df_json = spark.read.load("./data/Villes/ville/", format="json")

In [24]:
df_parquet = spark.read.load("./data/Villes/parquet", format="parquet")

# 3) Calculer des résultats : les actions

## 3.1) Nombre de lignes : count

Chargez les fichiers csv contenus dans le dossiers ./data/Cyclistes/ dans un df nommé cyclistes, puis comptez les lignes du dataframe obtenu.

In [54]:
vaccin2 = spark.read.load("./data/Covid/vacsi-reg-classe-age-2021-01-29.csv", format="csv", header=True, inferSchema="True")

In [55]:
vaccin2.count()

1848

Afficher le schéma de ce nouveau df

In [12]:
vaccin2.schema
vaccin2.printSchema()

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe d'age: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: string (nullable = true)

In [15]:
vaccin2_new = vaccin2.withColumnRenamed("Classe d'age", "Classe age")
vaccin2_new.schema

StructType(List(StructField(Code,StringType,true),StructField(Libellé,StringType,true),StructField(Classe age,StringType,true),StructField(Date,StringType,true),StructField(Nombre cumulé de personnes vaccinées 2 doses,StringType,true)))

In [40]:
from pyspark.sql.types import IntegerType
from pyspark.sql.types import StringType

vaccin2_new_upd = vaccin2_new.withColumn("Classe age", vaccin2_new["Classe age"].cast(IntegerType())).withColumn("Nombre cumulé de personnes vaccinées 2 doses", vaccin2_new["Nombre cumulé de personnes vaccinées 2 doses"].cast(IntegerType()))

vaccin2_new_upd.printSchema()

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe age: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: integer (nullable = true)

Affichez 10 lignes du df.

## 3.2) Moyenne : agg + colonne + mean

A l'aide de la méthode agg(), calculez la moyenne sur la colonne vitesse.

Vous pouvez récuperer le résultat avec la méthode collect().

In [17]:
 vaccin2_new_upd.agg({"Nombre cumulé de personnes vaccinées 2 doses": "max"}).show()

+-------------------------------------------------+
|max(Nombre cumulé de personnes vaccinées 2 doses)|
+-------------------------------------------------+
|                                             6943|
+-------------------------------------------------+

## 3.3) Quantile approximatifs pour gagner du temps de calcul

En statistiques et en théorie des probabilités, les quantiles sont les valeurs qui divisent un jeu de données en intervalles contenant le même nombre de données. Il y a donc un quantile de moins que le nombre de groupes créés. Ainsi les quartiles sont les trois quantiles qui divisent un ensemble de données en quatre groupes de taille égale.

La méthode approxQuantile permet de laisser une tolérance a l'erreur ce qui réduit le temps de calul sur d'énormes jeux de données.

In [23]:
import time

In [22]:
def calcul_quantile(df, erreur_acceptee):
    debut            = time.time()
    colonne          = "vitesse"
    quantiles_voulus = [0.25, 0.50, 0.75]
    resultat         =  df.approxQuantile(colonne, quantiles_voulus , erreur_acceptee )
    fin              = time.time()
    delais           = fin -debut
    print ("delais =%.2f sec, quantiles = %s"%(delais, resultat))

In [21]:
#calcul_quantile(cyclistes, 0.05)

In [24]:
calcul_quantile(vaccin2_new_upd, 0.05)

AnalysisException: cannot resolve '`vitesse`' given input columns: [Classe age, Code, Date, Libellé, Nombre cumulé de personnes vaccinées 2 doses];;
'Project ['vitesse]
+- Project [Code#16, Libellé#17, Classe age#42, Date#19, cast(Nombre cumulé de personnes vaccinées 2 doses#20 as int) AS Nombre cumulé de personnes vaccinées 2 doses#48]
   +- Project [Code#16, Libellé#17, cast(Classe age#36 as int) AS Classe age#42, Date#19, Nombre cumulé de personnes vaccinées 2 doses#20]
      +- Project [Code#16, Libellé#17, Classe d'age#18 AS Classe age#36, Date#19, Nombre cumulé de personnes vaccinées 2 doses#20]
         +- Relation[Code#16,Libellé#17,Classe d'age#18,Date#19,Nombre cumulé de personnes vaccinées 2 doses#20] csv

In [25]:
calcul_quantile(cyclistes, 0.01)

NameError: name 'cyclistes' is not defined

In [67]:
calcul_quantile(cyclistes, 0)

delais =21.32 sec, quantiles = [0.13922027425674244, 0.467745329783825, 0.8358087561374254]

## Reload de la dataframe villes

Chargez le fichier villes dans un df nommé villes.

In [53]:
villes =spark.read.load("./data/Villes/", format="csv", header=True, inferSchema="True")
villes.printSchema()

vaccin2_new_upd.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe age: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: integer (nullable = true)

In [27]:
#villes.take(10)
vaccin2_new_upd.take(10)

[Row(Code='01;Guadeloupe;0;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;18-24;26/01/2021;N/A - résultat non disponible', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;25-29;26/01/2021;N/A - résultat non disponible', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;30-39;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;40-49;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;50-59;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;60-64;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;65-69;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;70-74;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None),
 Row(Code='01;Guadeloupe;75-79;26/01/2021;0', Libellé=None, Classe age=None, Date=None, Nombre cumulé de personnes vaccinées 2 doses=None)]

## 3.4) corrélation

En probabilités et en statistique, la corrélation entre plusieurs variables aléatoires ou statistiques est une notion de liaison qui contredit leur indépendance.

Calculez la corrélation entre les colonnes age et vitesse_a_velo.

In [28]:
villes.corr("age", "vitesse_a_velo")

-0.01783584628140774

## 3.5) covariance

La covariance entre deux variables aléatoires est un nombre permettant de quantifier leurs écarts conjoints par rapport à leurs espérances respectives. Elle s’utilise également pour deux séries de données numériques (écarts par rapport aux moyennes).
La covariance est une extension de la notion de variance. La corrélation est une forme normalisée de la covariance.

Calculez la covariance entre les colonnes age et vitesse_a_velo.

In [51]:
villes.cov("age", "vitesse_a_velo")

-0.4752524914308339

## 3.6) sample

La méthode sample() permet de tirer aléatoirement une fraction du dataframe.
Stockez dans un nouveau dataframe nommée villes_1pct, une fraction egale à 1% du df. Comptez le nombre de lignes obtenu.

A l'aide de la méthode exceptAll(), compter le nombre de ligne dans ville en omettant la fraction contenu dans ville_1pct

In [52]:
villes.count()

1083

In [53]:
villes_1_pct = villes.sample(False, 0.01)
villes_1_pct.count()

6

In [54]:
villes_1_pct.collect()

[Row(id=5292, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:6.05 lat:1.69)', travail='(lon:34.49 lat:47.25)', sportif=False, casseur=False, statut='éboueur', salaire=25233.0748967296, sexe='F', age=66, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=5350, vitesse_a_pied=0.23783659695381268, vitesse_a_velo=0.6342309252101671, home='(lon:34.51 lat:38.77)', travail='(lon:25.10 lat:1.46)', sportif=False, casseur=False, statut='professeur', salaire=34095.943864653185, sexe='H', age=75, sportivite=0.7927886565127089, velo_perf_minimale=0.4),
 Row(id=5525, vitesse_a_pied=1.7768955307594845, vitesse_a_velo=4.738388082025291, home='(lon:3.55 lat:25.34)', travail='(lon:31.39 lat:27.59)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=20645.92983184995, sexe='H', age=75, sportivite=5.922985102531614, velo_perf_minimale=0.4),
 Row(id=5757, vitesse_a_pied=0.20558995302735905, vitesse_a_velo=0.5482398747396241, home='(lon:47.87 lat:7.88)', travail='(lon:27.65 lat:10.79)', sportif=False, casseur=False, statut='cadre', salaire=38014.31927295661, sexe='H', age=37, sportivite=0.6852998434245301, velo_perf_minimale=0.4),
 Row(id=6044, vitesse_a_pied=0.5662243494207182, vitesse_a_velo=1.4155608735517955, home='(lon:31.95 lat:19.48)', travail='(lon:19.98 lat:33.32)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=23182.29483875742, sexe='F', age=20, sportivite=2.831121747103591, velo_perf_minimale=0.4),
 Row(id=6252, vitesse_a_pied=0.37977384061527564, vitesse_a_velo=0.9494346015381891, home='(lon:21.34 lat:21.09)', travail='(lon:31.00 lat:6.16)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18344.879718112134, sexe='F', age=70, sportivite=1.8988692030763783, velo_perf_minimale=0.4)]

In [55]:
villes.exceptAll(villes_1_pct).count()

1077

## 3.7) filter 

La méthode filter() permet le df selon certaines valeurs dans les colonnes.

Utilisez cette méthode pour récuperer seulement les lignes avec le sexe féminin.

In [75]:
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

In [42]:
#villesF = villes.filter(villes['sexe']=="F")

vaccin2_new_upd.printSchema()

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe age: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: integer (nullable = true)

In [43]:
vacc2 = vaccin2_new_upd

vacc2_upd = vacc2.withColumn("Classe age", vacc2["Classe age"].cast(StringType()))

In [69]:
vacc2_upd.printSchema()

root
 |-- Code: string (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- Classe age: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: integer (nullable = true)

In [74]:
vaccinAge = spark.read.load("./data/Covid/vacsi-reg-classe-age-2021-01-29.csv", format="csv", header=True, inferSchema="True")

In [75]:
vaccinAge.show()

+----+----------+------------+----------+--------------------------------------------+
|Code|   Libellé|Classe d'age|      Date|Nombre cumulé de personnes vaccinées 2 doses|
+----+----------+------------+----------+--------------------------------------------+
|   1|Guadeloupe|           0|26/01/2021|                                           0|
|   1|Guadeloupe|       18-24|26/01/2021|                        N/A - résultat no...|
|   1|Guadeloupe|       25-29|26/01/2021|                        N/A - résultat no...|
|   1|Guadeloupe|       30-39|26/01/2021|                                           0|
|   1|Guadeloupe|       40-49|26/01/2021|                                           0|
|   1|Guadeloupe|       50-59|26/01/2021|                                           0|
|   1|Guadeloupe|       60-64|26/01/2021|                                           0|
|   1|Guadeloupe|       65-69|26/01/2021|                                           0|
|   1|Guadeloupe|       70-74|26/01/2021|                                           0|
|   1|Guadeloupe|       75-79|26/01/2021|                                           0|
|   1|Guadeloupe|         80-|26/01/2021|                                           0|
|   2|Martinique|           0|26/01/2021|                                           1|
|   2|Martinique|       18-24|26/01/2021|                                           0|
|   2|Martinique|       25-29|26/01/2021|                                           0|
|   2|Martinique|       30-39|26/01/2021|                                           0|
|   2|Martinique|       40-49|26/01/2021|                                           0|
|   2|Martinique|       50-59|26/01/2021|                                           0|
|   2|Martinique|       60-64|26/01/2021|                                           0|
|   2|Martinique|       65-69|26/01/2021|                                           0|
|   2|Martinique|       70-74|26/01/2021|                                           1|
+----+----------+------------+----------+--------------------------------------------+
only showing top 20 rows

In [79]:
#vacc2F_upd = vacc2_upd.filter(vacc2_upd["Classe d'age"] == "25-29")
#vacc2F_upd.count()

#Nombre de 

vaccinAge2529 = vaccinAge.filter(vaccinAge["Classe d'age"] == "25-29")
vaccinAge2529.count()

84

In [127]:
#villesF.count()

In [126]:
#villesF.take(10)

On peux aussi filtrer le df avec la méthode where(). Filtrez le df de la même façon que precedemment en utilisant cette méthode.

In [128]:
vacc = spark.read.load("./data/Covid/vacsi-a-dep-2021-02-03-20h15.csv", format="csv", header=True, inferSchema="True")

In [129]:
vacc.show()

+---+-----------+----------+-------+-----------+
|dep|clage_vacsi|      jour|n_dose1|n_cum_dose1|
+---+-----------+----------+-------+-----------+
| 01|          0|2021-01-06|      1|          1|
| 01|          0|2021-01-07|     66|         67|
| 01|          0|2021-01-08|    159|        226|
| 01|          0|2021-01-09|      2|        228|
| 01|          0|2021-01-11|    136|        364|
| 01|          0|2021-01-12|    278|        642|
| 01|          0|2021-01-13|    416|       1058|
| 01|          0|2021-01-14|    466|       1524|
| 01|          0|2021-01-15|    388|       1912|
| 01|          0|2021-01-16|    197|       2109|
| 01|          0|2021-01-17|    125|       2234|
| 01|          0|2021-01-18|    337|       2571|
| 01|          0|2021-01-19|   1009|       3580|
| 01|          0|2021-01-20|   1165|       4745|
| 01|          0|2021-01-21|    991|       5736|
| 01|          0|2021-01-22|    634|       6370|
| 01|          0|2021-01-23|    218|       6588|
| 01|          0|2021-01-24|     68|       6656|
| 01|          0|2021-01-25|    459|       7115|
| 01|          0|2021-01-26|    705|       7820|
+---+-----------+----------+-------+-----------+
only showing top 20 rows

In [ ]:
vaccFilter = vacc.filter(vacc("clage_vacsi"))

# 4) Transformer la données : les transformations!

## Transformations : demandent à être suivi par un collect ou une action (count par exemple)

## 4.1) Obtenir des statistiques sur les colonnes numériques

La méthode describe() permet de calculer les statistiques récapitulatives d'une ou plusieurs colonnes numériques dans un df. Si le nom des colonnes n'est pas spécifié, la méthode calculera des statistiques récapitulatives pour toutes les colonnes numériques présentes dans le df.

Afficher les statistiques de la colonne age.

In [83]:
villes.describe(["age"]).collect()

[Row(summary='count', age='1083'),
 Row(summary='mean', age='49.30655586334257'),
 Row(summary='stddev', age='20.009984186582763'),
 Row(summary='min', age='15'),
 Row(summary='max', age='84')]

In [84]:
vaccinAge.describe(["Nombre cumulé de personnes vaccinées 2 doses"]).collect()

[Row(summary='count', Nombre cumulé de personnes vaccinées 2 doses='924'),
 Row(summary='mean', Nombre cumulé de personnes vaccinées 2 doses='211.0254129606099'),
 Row(summary='stddev', Nombre cumulé de personnes vaccinées 2 doses='572.4444676687477'),
 Row(summary='min', Nombre cumulé de personnes vaccinées 2 doses='0'),
 Row(summary='max', Nombre cumulé de personnes vaccinées 2 doses='N/A - résultat non disponible')]

In [85]:
vaccinAge.describe(["Nombre cumulé de personnes vaccinées 2 doses"]).show()

+-------+--------------------------------------------+
|summary|Nombre cumulé de personnes vaccinées 2 doses|
+-------+--------------------------------------------+
|  count|                                         924|
|   mean|                           211.0254129606099|
| stddev|                           572.4444676687477|
|    min|                                           0|
|    max|                        N/A - résultat no...|
+-------+--------------------------------------------+

In [62]:
villes.describe(["age"]).show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|              1083|
|   mean| 49.30655586334257|
| stddev|20.009984186582763|
|    min|                15|
|    max|                84|
+-------+------------------+

## 4.2) groupby

La méthode groupBy() suivie de la methode agg() permet de grouper le df selon les catgories d'une ou plusieurs colonnes pour faire des calculs sur ces catégories.

Calculez la moyenne de la colonnes sportivité selon le sexe des personnes.

In [96]:
villes.groupBy("sexe").agg({"sportivite" : "mean"}).collect()

[Row(sexe='F', avg(sportivite)=2.201847229112897),
 Row(sexe='H', avg(sportivite)=2.161359149481709)]

In [105]:

vaccinAge = spark.read.load("./data/Covid/vacsi-reg-classe-age-2021-01-29.csv", format="csv", header=True, inferSchema="True")

vaccinSexe = spark.read.load("./data/Covid/vacsi-reg-sexe-2021-01-29.csv", format="csv", header=True, inferSchema="True")

In [151]:
vaccinAge.show()

+----+----------+------------+----------+--------------------------------------------+
|Code|   Libellé|Classe d'age|      Date|Nombre cumulé de personnes vaccinées 2 doses|
+----+----------+------------+----------+--------------------------------------------+
|   1|Guadeloupe|           0|26/01/2021|                                           0|
|   1|Guadeloupe|       18-24|26/01/2021|                        N/A - résultat no...|
|   1|Guadeloupe|       25-29|26/01/2021|                        N/A - résultat no...|
|   1|Guadeloupe|       30-39|26/01/2021|                                           0|
|   1|Guadeloupe|       40-49|26/01/2021|                                           0|
|   1|Guadeloupe|       50-59|26/01/2021|                                           0|
|   1|Guadeloupe|       60-64|26/01/2021|                                           0|
|   1|Guadeloupe|       65-69|26/01/2021|                                           0|
|   1|Guadeloupe|       70-74|26/01/2021|                                           0|
|   1|Guadeloupe|       75-79|26/01/2021|                                           0|
|   1|Guadeloupe|         80-|26/01/2021|                                           0|
|   2|Martinique|           0|26/01/2021|                                           1|
|   2|Martinique|       18-24|26/01/2021|                                           0|
|   2|Martinique|       25-29|26/01/2021|                                           0|
|   2|Martinique|       30-39|26/01/2021|                                           0|
|   2|Martinique|       40-49|26/01/2021|                                           0|
|   2|Martinique|       50-59|26/01/2021|                                           0|
|   2|Martinique|       60-64|26/01/2021|                                           0|
|   2|Martinique|       65-69|26/01/2021|                                           0|
|   2|Martinique|       70-74|26/01/2021|                                           1|
+----+----------+------------+----------+--------------------------------------------+
only showing top 20 rows

In [112]:
vaccinSexe.printSchema()

root
 |-- Code: integer (nullable = true)
 |-- Libellé: string (nullable = true)
 |-- sexe: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Nombre cumulé de personnes vaccinées 2 doses: string (nullable = true)

In [108]:
vaccinAge.groupBy("Classe d'age").agg({"Nombre cumulé de personnes vaccinées 2 doses": "mean"}).collect()

[Row(Classe d'age='80-', avg(Nombre cumulé de personnes vaccinées 2 doses)=250.09722222222223),
 Row(Classe d'age='65-69', avg(Nombre cumulé de personnes vaccinées 2 doses)=80.11842105263158),
 Row(Classe d'age='0', avg(Nombre cumulé de personnes vaccinées 2 doses)=1102.2666666666667),
 Row(Classe d'age='30-39', avg(Nombre cumulé de personnes vaccinées 2 doses)=35.56944444444444),
 Row(Classe d'age='75-79', avg(Nombre cumulé de personnes vaccinées 2 doses)=46.361111111111114),
 Row(Classe d'age='40-49', avg(Nombre cumulé de personnes vaccinées 2 doses)=70.52777777777777),
 Row(Classe d'age='70-74', avg(Nombre cumulé de personnes vaccinées 2 doses)=59.47222222222222),
 Row(Classe d'age='18-24', avg(Nombre cumulé de personnes vaccinées 2 doses)=2.7903225806451615),
 Row(Classe d'age='25-29', avg(Nombre cumulé de personnes vaccinées 2 doses)=10.085714285714285),
 Row(Classe d'age='50-59', avg(Nombre cumulé de personnes vaccinées 2 doses)=419.44444444444446),
 Row(Classe d'age='60-64', avg(Nombre cumulé de personnes vaccinées 2 doses)=180.18055555555554)]

In [118]:
vaccinSexe.groupBy("sexe").agg({"Nombre cumulé de personnes vaccinées 2 doses": "mean"}).collect()

[Row(sexe=1, avg(Nombre cumulé de personnes vaccinées 2 doses)=465.40277777777777),
 Row(sexe=2, avg(Nombre cumulé de personnes vaccinées 2 doses)=656.421052631579),
 Row(sexe=0, avg(Nombre cumulé de personnes vaccinées 2 doses)=1063.9733333333334)]

Calculez la moyenne de la colonne age et la valeur max de la colonne sportivité par sexe.

In [64]:
villes.groupBy("sexe").agg({"sportivite" : "max", "age":"mean"}).collect()

[Row(sexe='F', max(sportivite)=8.683572706695392, avg(age)=49.847036328871894),
 Row(sexe='H', max(sportivite)=8.663362507588833, avg(age)=48.801785714285714)]

Calculez la moyenne des colonnes vitesse_a_pied et vitesse_a_velo par sexe.

In [130]:
villes.groupBy("sexe").agg({"vitesse_a_pied" : "mean", "vitesse_a_velo":"mean"}).collect()

[Row(sexe='F', avg(vitesse_a_velo)=1.1131501228739036, avg(vitesse_a_pied)=0.445260049149563),
 Row(sexe='H', avg(vitesse_a_velo)=1.8020997668473537, avg(vitesse_a_pied)=0.6757874125677557)]

In [134]:
vacc = spark.read.load("./data/Covid/vacsi-a-dep-2021-02-03-20h15.csv", format="csv", header=True, inferSchema="True")

vacc.show()

+---+-----------+----------+-------+-----------+
|dep|clage_vacsi|      jour|n_dose1|n_cum_dose1|
+---+-----------+----------+-------+-----------+
| 01|          0|2021-01-06|      1|          1|
| 01|          0|2021-01-07|     66|         67|
| 01|          0|2021-01-08|    159|        226|
| 01|          0|2021-01-09|      2|        228|
| 01|          0|2021-01-11|    136|        364|
| 01|          0|2021-01-12|    278|        642|
| 01|          0|2021-01-13|    416|       1058|
| 01|          0|2021-01-14|    466|       1524|
| 01|          0|2021-01-15|    388|       1912|
| 01|          0|2021-01-16|    197|       2109|
| 01|          0|2021-01-17|    125|       2234|
| 01|          0|2021-01-18|    337|       2571|
| 01|          0|2021-01-19|   1009|       3580|
| 01|          0|2021-01-20|   1165|       4745|
| 01|          0|2021-01-21|    991|       5736|
| 01|          0|2021-01-22|    634|       6370|
| 01|          0|2021-01-23|    218|       6588|
| 01|          0|2021-01-24|     68|       6656|
| 01|          0|2021-01-25|    459|       7115|
| 01|          0|2021-01-26|    705|       7820|
+---+-----------+----------+-------+-----------+
only showing top 20 rows

In [137]:
vacc.groupBy("clage_vacsi").agg({"n_dose1":"max"}).collect()

[Row(clage_vacsi=64, max(n_dose1)=453),
 Row(clage_vacsi=59, max(n_dose1)=913),
 Row(clage_vacsi=39, max(n_dose1)=305),
 Row(clage_vacsi=49, max(n_dose1)=412),
 Row(clage_vacsi=69, max(n_dose1)=344),
 Row(clage_vacsi=80, max(n_dose1)=3473),
 Row(clage_vacsi=24, max(n_dose1)=47),
 Row(clage_vacsi=29, max(n_dose1)=122),
 Row(clage_vacsi=79, max(n_dose1)=1245),
 Row(clage_vacsi=0, max(n_dose1)=6885),
 Row(clage_vacsi=74, max(n_dose1)=397)]

In [141]:
vacc.groupBy("clage_vacsi").count().show()

+-----------+-----+
|clage_vacsi|count|
+-----------+-----+
|         64| 2540|
|         59| 2590|
|         39| 2347|
|         49| 2457|
|         69| 2537|
|         80| 2562|
|         24| 1427|
|         29| 1898|
|         79| 2494|
|          0| 2727|
|         74| 2504|
+-----------+-----+

In [152]:
vacc.groupBy("clage_vacsi").count().collect()

[Row(clage_vacsi=64, count=2540),
 Row(clage_vacsi=59, count=2590),
 Row(clage_vacsi=39, count=2347),
 Row(clage_vacsi=49, count=2457),
 Row(clage_vacsi=69, count=2537),
 Row(clage_vacsi=80, count=2562),
 Row(clage_vacsi=24, count=1427),
 Row(clage_vacsi=29, count=1898),
 Row(clage_vacsi=79, count=2494),
 Row(clage_vacsi=0, count=2727),
 Row(clage_vacsi=74, count=2504)]

In [157]:
#villesF = villes.filter(villes['sexe']=="F")


vacc01 = vacc.filter(vacc["dep"] == "01")

vacc01.collect()

[Row(dep='01', clage_vacsi=0, jour='2021-01-06', n_dose1=1, n_cum_dose1=1),
 Row(dep='01', clage_vacsi=0, jour='2021-01-07', n_dose1=66, n_cum_dose1=67),
 Row(dep='01', clage_vacsi=0, jour='2021-01-08', n_dose1=159, n_cum_dose1=226),
 Row(dep='01', clage_vacsi=0, jour='2021-01-09', n_dose1=2, n_cum_dose1=228),
 Row(dep='01', clage_vacsi=0, jour='2021-01-11', n_dose1=136, n_cum_dose1=364),
 Row(dep='01', clage_vacsi=0, jour='2021-01-12', n_dose1=278, n_cum_dose1=642),
 Row(dep='01', clage_vacsi=0, jour='2021-01-13', n_dose1=416, n_cum_dose1=1058),
 Row(dep='01', clage_vacsi=0, jour='2021-01-14', n_dose1=466, n_cum_dose1=1524),
 Row(dep='01', clage_vacsi=0, jour='2021-01-15', n_dose1=388, n_cum_dose1=1912),
 Row(dep='01', clage_vacsi=0, jour='2021-01-16', n_dose1=197, n_cum_dose1=2109),
 Row(dep='01', clage_vacsi=0, jour='2021-01-17', n_dose1=125, n_cum_dose1=2234),
 Row(dep='01', clage_vacsi=0, jour='2021-01-18', n_dose1=337, n_cum_dose1=2571),
 Row(dep='01', clage_vacsi=0, jour='2021-01-19', n_dose1=1009, n_cum_dose1=3580),
 Row(dep='01', clage_vacsi=0, jour='2021-01-20', n_dose1=1165, n_cum_dose1=4745),
 Row(dep='01', clage_vacsi=0, jour='2021-01-21', n_dose1=991, n_cum_dose1=5736),
 Row(dep='01', clage_vacsi=0, jour='2021-01-22', n_dose1=634, n_cum_dose1=6370),
 Row(dep='01', clage_vacsi=0, jour='2021-01-23', n_dose1=218, n_cum_dose1=6588),
 Row(dep='01', clage_vacsi=0, jour='2021-01-24', n_dose1=68, n_cum_dose1=6656),
 Row(dep='01', clage_vacsi=0, jour='2021-01-25', n_dose1=459, n_cum_dose1=7115),
 Row(dep='01', clage_vacsi=0, jour='2021-01-26', n_dose1=705, n_cum_dose1=7820),
 Row(dep='01', clage_vacsi=0, jour='2021-01-27', n_dose1=499, n_cum_dose1=8319),
 Row(dep='01', clage_vacsi=0, jour='2021-01-28', n_dose1=612, n_cum_dose1=8931),
 Row(dep='01', clage_vacsi=0, jour='2021-01-29', n_dose1=615, n_cum_dose1=9546),
 Row(dep='01', clage_vacsi=0, jour='2021-01-30', n_dose1=231, n_cum_dose1=9777),
 Row(dep='01', clage_vacsi=0, jour='2021-01-31', n_dose1=59, n_cum_dose1=9836),
 Row(dep='01', clage_vacsi=0, jour='2021-02-01', n_dose1=417, n_cum_dose1=10253),
 Row(dep='01', clage_vacsi=0, jour='2021-02-02', n_dose1=474, n_cum_dose1=10727),
 Row(dep='01', clage_vacsi=24, jour='2021-01-15', n_dose1=1, n_cum_dose1=1),
 Row(dep='01', clage_vacsi=24, jour='2021-01-16', n_dose1=3, n_cum_dose1=4),
 Row(dep='01', clage_vacsi=24, jour='2021-01-20', n_dose1=3, n_cum_dose1=7),
 Row(dep='01', clage_vacsi=24, jour='2021-01-21', n_dose1=1, n_cum_dose1=8),
 Row(dep='01', clage_vacsi=24, jour='2021-01-22', n_dose1=3, n_cum_dose1=11),
 Row(dep='01', clage_vacsi=24, jour='2021-01-26', n_dose1=1, n_cum_dose1=12),
 Row(dep='01', clage_vacsi=24, jour='2021-01-27', n_dose1=4, n_cum_dose1=16),
 Row(dep='01', clage_vacsi=24, jour='2021-01-29', n_dose1=2, n_cum_dose1=18),
 Row(dep='01', clage_vacsi=24, jour='2021-01-31', n_dose1=1, n_cum_dose1=19),
 Row(dep='01', clage_vacsi=29, jour='2021-01-11', n_dose1=2, n_cum_dose1=2),
 Row(dep='01', clage_vacsi=29, jour='2021-01-12', n_dose1=4, n_cum_dose1=6),
 Row(dep='01', clage_vacsi=29, jour='2021-01-13', n_dose1=2, n_cum_dose1=8),
 Row(dep='01', clage_vacsi=29, jour='2021-01-14', n_dose1=4, n_cum_dose1=12),
 Row(dep='01', clage_vacsi=29, jour='2021-01-15', n_dose1=2, n_cum_dose1=14),
 Row(dep='01', clage_vacsi=29, jour='2021-01-16', n_dose1=2, n_cum_dose1=16),
 Row(dep='01', clage_vacsi=29, jour='2021-01-17', n_dose1=1, n_cum_dose1=17),
 Row(dep='01', clage_vacsi=29, jour='2021-01-18', n_dose1=1, n_cum_dose1=18),
 Row(dep='01', clage_vacsi=29, jour='2021-01-19', n_dose1=3, n_cum_dose1=21),
 Row(dep='01', clage_vacsi=29, jour='2021-01-20', n_dose1=6, n_cum_dose1=27),
 Row(dep='01', clage_vacsi=29, jour='2021-01-21', n_dose1=5, n_cum_dose1=32),
 Row(dep='01', clage_vacsi=29, jour='2021-01-22', n_dose1=7, n_cum_dose1=39),
 Row(dep='01', clage_vacsi=29, jour='2021-01-26', n_dose1=7, n_cum_dose1=46),
 Row(dep='01', clage_vacsi=29, jour='2021-01-27', n_dose1=3, n_cum_dose1=49),
 Row(dep='01', clage_vacsi=29, jour='2021-01-28', n_dose1=1, n_cum_dose1=50),
 Row(dep='01', clage_vacsi=29, jour='2021-01-29', n_dose1=4, n_cum_dose1=54),
 Row(dep='01', clage_vacsi=29, jour='2021-02-01', n_dose1=0, n_cum_dose1=54),
 Row(dep='01', clage_vacsi=29, jour='2021-02-02', n_dose1=2, n_cum_dose1=56),
 Row(dep='01', clage_vacsi=39, jour='2021-01-08', n_dose1=1, n_cum_dose1=1),
 Row(dep='01', clage_vacsi=39, jour='2021-01-11', n_dose1=9, n_cum_dose1=10),
 Row(dep='01', clage_vacsi=39, jour='2021-01-12', n_dose1=14, n_cum_dose1=24),
 Row(dep='01', clage_vacsi=39, jour='2021-01-13', n_dose1=17, n_cum_dose1=41),
 Row(dep='01', clage_vacsi=39, jour='2021-01-14', n_dose1=15, n_cum_dose1=56),
 Row(dep='01', clage_vacsi=39, jour='2021-01-15', n_dose1=24, n_cum_dose1=80),
 Row(dep='01', clage_vacsi=39, jour='2021-01-16', n_dose1=8, n_cum_dose1=88),
 Row(dep='01', clage_vacsi=39, jour='2021-01-17', n_dose1=2, n_cum_dose1=90),
 Row(dep='01', clage_vacsi=39, jour='2021-01-18', n_dose1=4, n_cum_dose1=94),
 Row(dep='01', clage_vacsi=39, jour='2021-01-19', n_dose1=10, n_cum_dose1=104),
 Row(dep='01', clage_vacsi=39, jour='2021-01-20', n_dose1=20, n_cum_dose1=124),
 Row(dep='01', clage_vacsi=39, jour='2021-01-21', n_dose1=20, n_cum_dose1=144),
 Row(dep='01', clage_vacsi=39, jour='2021-01-22', n_dose1=21, n_cum_dose1=165),
 Row(dep='01', clage_vacsi=39, jour='2021-01-23', n_dose1=1, n_cum_dose1=166),
 Row(dep='01', clage_vacsi=39, jour='2021-01-26', n_dose1=10, n_cum_dose1=176),
 Row(dep='01', clage_vacsi=39, jour='2021-01-27', n_dose1=11, n_cum_dose1=187),
 Row(dep='01', clage_vacsi=39, jour='2021-01-28', n_dose1=10, n_cum_dose1=197),
 Row(dep='01', clage_vacsi=39, jour='2021-01-29', n_dose1=6, n_cum_dose1=203),
 Row(dep='01', clage_vacsi=39, jour='2021-01-30', n_dose1=1, n_cum_dose1=204),
 Row(dep='01', clage_vacsi=39, jour='2021-01-31', n_dose1=1, n_cum_dose1=205),
 Row(dep='01', clage_vacsi=39, jour='2021-02-01', n_dose1=2, n_cum_dose1=207),
 Row(dep='01', clage_vacsi=39, jour='2021-02-02', n_dose1=2, n_cum_dose1=209),
 Row(dep='01', clage_vacsi=49, jour='2021-01-07', n_dose1=1, n_cum_dose1=1),
 Row(dep='01', clage_vacsi=49, jour='2021-01-08', n_dose1=5, n_cum_dose1=6),
 Row(dep='01', clage_vacsi=49, jour='2021-01-11', n_dose1=18, n_cum_dose1=24),
 Row(dep='01', clage_vacsi=49, jour='2021-01-12', n_dose1=31, n_cum_dose1=55),
 Row(dep='01', clage_vacsi=49, jour='2021-01-13', n_dose1=31, n_cum_dose1=86),
 Row(dep='01', clage_vacsi=49, jour='2021-01-14', n_dose1=32, n_cum_dose1=118),
 Row(dep='01', clage_vacsi=49, jour='2021-01-15', n_dose1=40, n_cum_dose1=158),
 Row(dep='01', clage_vacsi=49, jour='2021-01-16', n_dose1=11, n_cum_dose1=169),
 Row(dep='01', clage_vacsi=49, jour='2021-01-17', n_dose1=4, n_cum_dose1=173),
 Row(dep='01', clage_vacsi=49, jour='2021-01-18', n_dose1=8, n_cum_dose1=181),
 Row(dep='01', clage_vacsi=49, jour='2021-01-19', n_dose1=18, n_cum_dose1=199),
 Row(dep='01', clage_vacsi=49, jour='2021-01-20', n_dose1=51, n_cum_dose1=250),
 Row(dep='01', clage_vacsi=49, jour='2021-01-21', n_dose1=36, n_cum_dose1=286),
 Row(dep='01', clage_vacsi=49, jour='2021-01-22', n_dose1=19, n_cum_dose1=305),
 Row(dep='01', clage_vacsi=49, jour='2021-01-23', n_dose1=4, n_cum_dose1=309),
 Row(dep='01', clage_vacsi=49, jour='2021-01-24', n_dose1=3, n_cum_dose1=312),
 Row(dep='01', clage_vacsi=49, jour='2021-01-25', n_dose1=10, n_cum_dose1=322),
 Row(dep='01', clage_vacsi=49, jour='2021-01-26', n_dose1=24, n_cum_dose1=346),
 Row(dep='01', clage_vacsi=49, jour='2021-01-27', n_dose1=20, n_cum_dose1=366),
 Row(dep='01', clage_vacsi=49, jour='2021-01-28', n_dose1=17, n_cum_dose1=383),
 Row(dep='01', clage_vacsi=49, jour='2021-01-29', n_dose1=21, n_cum_dose1=404),
 Row(dep='01', clage_vacsi=49, jour='2021-01-30', n_dose1=5, n_cum_dose1=409),
 Row(dep='01', clage_vacsi=49, jour='2021-02-01', n_dose1=5, n_cum_dose1=414),
 Row(dep='01', clage_vacsi=49, jour='2021-02-02', n_dose1=13, n_cum_dose1=427),
 Row(dep='01', clage_vacsi=59, jour='2021-01-06', n_dose1=1, n_cum_dose1=1),
 Row(dep='01', clage_vacsi=59, jour='2021-01-07', n_dose1=15, n_cum_dose1=16),
 Row(dep='01', clage_vacsi=59, jour='2021-01-08', n_dose1=27, n_cum_dose1=43),
 Row(dep='01', clage_vacsi=59, jour='2021-01-11', n_dose1=46, n_cum_dose1=89),
 Row(dep='01', clage_vacsi=59, jour='2021-01-12', n_dose1=112, n_cum_dose1=201),
 Row(dep='01', clage_vacsi=59, jour='2021-01-13', n_dose1=138, n_cum_dose1=339),
 Row(dep='01', clage_vacsi=59, jour='2021-01-14', n_dose1=186, n_cum_dose1=525),
 Row(dep='01', clage_vacsi=59, jour='2021-01-15', n_dose1=121, n_cum_dose1=646),
 Row(dep='01', clage_vacsi=59, jour='2021-01-16', n_dose1=30, n_cum_dose1=676),
 Row(dep='01', clage_vacsi=59, jour='2021-01-17', n_dose1=58, n_cum_dose1=734),
 Row(dep='01', clage_vacsi=59, jour='2021-01-18', n_dose1=49, n_cum_dose1=783),
 Row(dep='01', clage_vacsi=59, jour='2021-01-19', n_dose1=126, n_cum_dose1=909),
 Row(dep='01', clage_vacsi=59, jour='2021-01-20', n_dose1=191, n_cum_dose1=1100),
 Row(dep='01', clage_vacsi=59, jour='2021-01-21', n_dose1=79, n_cum_dose1=1179),
 Row(dep='01', clage_vacsi=59, jour='2021-01-22', n_dose1=81, n_cum_dose1=1260),
 Row(dep='01', clage_vacsi=59, jour='2021-01-23', n_dose1=5, n_cum_dose1=1265),
 Row(dep='01', clage_vacsi=59, jour='2021-01-24', n_dose1=6, n_cum_dose1=1271),
 Row(dep='01', clage_vacsi=59, jour='2021-01-25', n_dose1=31, n_cum_dose1=1302),
 Row(dep='01', clage_vacsi=59, jour='2021-01-26', n_dose1=38, n_cum_dose1=1340),
 Row(dep='01', clage_vacsi=59, jour='2021-01-27', n_dose1=45, n_cum_dose1=1385),
 Row(dep='01', clage_vacsi=59, jour='2021-01-28', n_dose1=47, n_cum_dose1=1432),
 Row(dep='01', clage_vacsi=59, jour='2021-01-29', n_dose1=35, n_cum_dose1=1467),
 Row(dep='01', clage_vacsi=59, jour='2021-01-30', n_dose1=9, n_cum_dose1=1476),
 Row(dep='01', clage_vacsi=59, jour='2021-01-31', n_dose1=2, n_cum_dose1=1478),
 Row(dep='01', clage_vacsi=59, jour='2021-02-01', n_dose1=28, n_cum_dose1=1506),
 Row(dep='01', clage_vacsi=59, jour='2021-02-02', n_dose1=33, n_cum_dose1=1539),
 Row(dep='01', clage_vacsi=64, jour='2021-01-07', n_dose1=8, n_cum_dose1=8),
 Row(dep='01', clage_vacsi=64, jour='2021-01-08', n_dose1=9, n_cum_dose1=17),
 Row(dep='01', clage_vacsi=64, jour='2021-01-11', n_dose1=15, n_cum_dose1=32),
 Row(dep='01', clage_vacsi=64, jour='2021-01-12', n_dose1=36, n_cum_dose1=68),
 Row(dep='01', clage_vacsi=64, jour='2021-01-13', n_dose1=47, n_cum_dose1=115),
 Row(dep='01', clage_vacsi=64, jour='2021-01-14', n_dose1=62, n_cum_dose1=177),
 Row(dep='01', clage_vacsi=64, jour='2021-01-15', n_dose1=45, n_cum_dose1=222),
 Row(dep='01', clage_vacsi=64, jour='2021-01-16', n_dose1=12, n_cum_dose1=234),
 Row(dep='01', clage_vacsi=64, jour='2021-01-17', n_dose1=23, n_cum_dose1=257),
 Row(dep='01', clage_vacsi=64, jour='2021-01-18', n_dose1=27, n_cum_dose1=284),
 Row(dep='01', clage_vacsi=64, jour='2021-01-19', n_dose1=54, n_cum_dose1=338),
 Row(dep='01', clage_vacsi=64, jour='2021-01-20', n_dose1=49, n_cum_dose1=387),
 Row(dep='01', clage_vacsi=64, jour='2021-01-21', n_dose1=42, n_cum_dose1=429),
 Row(dep='01', clage_vacsi=64, jour='2021-01-22', n_dose1=43, n_cum_dose1=472),
 Row(dep='01', clage_vacsi=64, jour='2021-01-23', n_dose1=2, n_cum_dose1=474),
 Row(dep='01', clage_vacsi=64, jour='2021-01-24', n_dose1=1, n_cum_dose1=475),
 Row(dep='01', clage_vacsi=64, jour='2021-01-25', n_dose1=13, n_cum_dose1=488),
 Row(dep='01', clage_vacsi=64, jour='2021-01-26', n_dose1=38, n_cum_dose1=526),
 Row(dep='01', clage_vacsi=64, jour='2021-01-27', n_dose1=12, n_cum_dose1=538),
 Row(dep='01', clage_vacsi=64, jour='2021-01-28', n_dose1=17, n_cum_dose1=555),
 Row(dep='01', clage_vacsi=64, jour='2021-01-29', n_dose1=22, n_cum_dose1=577),
 Row(dep='01', clage_vacsi=64, jour='2021-01-30', n_dose1=4, n_cum_dose1=581),
 Row(dep='01', clage_vacsi=64, jour='2021-01-31', n_dose1=1, n_cum_dose1=582),
 Row(dep='01', clage_vacsi=64, jour='2021-02-01', n_dose1=10, n_cum_dose1=592),
 Row(dep='01', clage_vacsi=64, jour='2021-02-02', n_dose1=12, n_cum_dose1=604),
 Row(dep='01', clage_vacsi=69, jour='2021-01-07', n_dose1=3, n_cum_dose1=3),
 Row(dep='01', clage_vacsi=69, jour='2021-01-08', n_dose1=6, n_cum_dose1=9),
 Row(dep='01', clage_vacsi=69, jour='2021-01-11', n_dose1=8, n_cum_dose1=17),
 Row(dep='01', clage_vacsi=69, jour='2021-01-12', n_dose1=14, n_cum_dose1=31),
 Row(dep='01', clage_vacsi=69, jour='2021-01-13', n_dose1=29, n_cum_dose1=60),
 Row(dep='01', clage_vacsi=69, jour='2021-01-14', n_dose1=25, n_cum_dose1=85),
 Row(dep='01', clage_vacsi=69, jour='2021-01-15', n_dose1=27, n_cum_dose1=112),
 Row(dep='01', clage_vacsi=69, jour='2021-01-16', n_dose1=6, n_cum_dose1=118),
 Row(dep='01', clage_vacsi=69, jour='2021-01-17', n_dose1=13, n_cum_dose1=131),
 Row(dep='01', clage_vacsi=69, jour='2021-01-18', n_dose1=10, n_cum_dose1=141),
 Row(dep='01', clage_vacsi=69, jour='2021-01-19', n_dose1=28, n_cum_dose1=169),
 Row(dep='01', clage_vacsi=69, jour='2021-01-20', n_dose1=31, n_cum_dose1=200),
 Row(dep='01', clage_vacsi=69, jour='2021-01-21', n_dose1=27, n_cum_dose1=227),
 Row(dep='01', clage_vacsi=69, jour='2021-01-22', n_dose1=24, n_cum_dose1=251),
 Row(dep='01', clage_vacsi=69, jour='2021-01-24', n_dose1=1, n_cum_dose1=252),
 Row(dep='01', clage_vacsi=69, jour='2021-01-25', n_dose1=21, n_cum_dose1=273),
 Row(dep='01', clage_vacsi=69, jour='2021-01-26', n_dose1=26, n_cum_dose1=299),
 Row(dep='01', clage_vacsi=69, jour='2021-01-27', n_dose1=20, n_cum_dose1=319),
 Row(dep='01', clage_vacsi=69, jour='2021-01-28', n_dose1=26, n_cum_dose1=345),
 Row(dep='01', clage_vacsi=69, jour='2021-01-29', n_dose1=25, n_cum_dose1=370),
 Row(dep='01', clage_vacsi=69, jour='2021-01-30', n_dose1=4, n_cum_dose1=374),
 Row(dep='01', clage_vacsi=69, jour='2021-02-01', n_dose1=14, n_cum_dose1=388),
 Row(dep='01', clage_vacsi=69, jour='2021-02-02', n_dose1=16, n_cum_dose1=404),
 Row(dep='01', clage_vacsi=74, jour='2021-01-07', n_dose1=4, n_cum_dose1=4),
 Row(dep='01', clage_vacsi=74, jour='2021-01-08', n_dose1=12, n_cum_dose1=16),
 Row(dep='01', clage_vacsi=74, jour='2021-01-11', n_dose1=4, n_cum_dose1=20),
 Row(dep='01', clage_vacsi=74, jour='2021-01-12', n_dose1=14, n_cum_dose1=34),
 Row(dep='01', clage_vacsi=74, jour='2021-01-13', n_dose1=24, n_cum_dose1=58),
 Row(dep='01', clage_vacsi=74, jour='2021-01-14', n_dose1=28, n_cum_dose1=86),
 Row(dep='01', clage_vacsi=74, jour='2021-01-15', n_dose1=14, n_cum_dose1=100),
 Row(dep='01', clage_vacsi=74, jour='2021-01-16', n_dose1=12, n_cum_dose1=112),
 Row(dep='01', clage_vacsi=74, jour='2021-01-17', n_dose1=12, n_cum_dose1=124),
 Row(dep='01', clage_vacsi=74, jour='2021-01-18', n_dose1=15, n_cum_dose1=139),
 Row(dep='01', clage_vacsi=74, jour='2021-01-19', n_dose1=39, n_cum_dose1=178),
 Row(dep='01', clage_vacsi=74, jour='2021-01-20', n_dose1=38, n_cum_dose1=216),
 Row(dep='01', clage_vacsi=74, jour='2021-01-21', n_dose1=31, n_cum_dose1=247),
 Row(dep='01', clage_vacsi=74, jour='2021-01-22', n_dose1=24, n_cum_dose1=271),
 Row(dep='01', clage_vacsi=74, jour='2021-01-23', n_dose1=3, n_cum_dose1=274),
 Row(dep='01', clage_vacsi=74, jour='2021-01-24', n_dose1=4, n_cum_dose1=278),
 Row(dep='01', clage_vacsi=74, jour='2021-01-25', n_dose1=27, n_cum_dose1=305),
 Row(dep='01', clage_vacsi=74, jour='2021-01-26', n_dose1=29, n_cum_dose1=334),
 Row(dep='01', clage_vacsi=74, jour='2021-01-27', n_dose1=20, n_cum_dose1=354),
 Row(dep='01', clage_vacsi=74, jour='2021-01-28', n_dose1=29, n_cum_dose1=383),
 Row(dep='01', clage_vacsi=74, jour='2021-01-29', n_dose1=32, n_cum_dose1=415),
 Row(dep='01', clage_vacsi=74, jour='2021-01-30', n_dose1=4, n_cum_dose1=419),
 Row(dep='01', clage_vacsi=74, jour='2021-02-01', n_dose1=32, n_cum_dose1=451),
 Row(dep='01', clage_vacsi=74, jour='2021-02-02', n_dose1=14, n_cum_dose1=465),
 Row(dep='01', clage_vacsi=79, jour='2021-01-08', n_dose1=13, n_cum_dose1=13),
 Row(dep='01', clage_vacsi=79, jour='2021-01-09', n_dose1=1, n_cum_dose1=14),
 Row(dep='01', clage_vacsi=79, jour='2021-01-11', n_dose1=2, n_cum_dose1=16),
 Row(dep='01', clage_vacsi=79, jour='2021-01-12', n_dose1=12, n_cum_dose1=28),
 Row(dep='01', clage_vacsi=79, jour='2021-01-13', n_dose1=34, n_cum_dose1=62),
 Row(dep='01', clage_vacsi=79, jour='2021-01-14', n_dose1=28, n_cum_dose1=90),
 Row(dep='01', clage_vacsi=79, jour='2021-01-15', n_dose1=37, n_cum_dose1=127),
 Row(dep='01', clage_vacsi=79, jour='2021-01-16', n_dose1=45, n_cum_dose1=172),
 Row(dep='01', clage_vacsi=79, jour='2021-01-17', n_dose1=8, n_cum_dose1=180),
 Row(dep='01', clage_vacsi=79, jour='2021-01-18', n_dose1=116, n_cum_dose1=296),
 Row(dep='01', clage_vacsi=79, jour='2021-01-19', n_dose1=189, n_cum_dose1=485),
 Row(dep='01', clage_vacsi=79, jour='2021-01-20', n_dose1=186, n_cum_dose1=671),
 Row(dep='01', clage_vacsi=79, jour='2021-01-21', n_dose1=169, n_cum_dose1=840),
 Row(dep='01', clage_vacsi=79, jour='2021-01-22', n_dose1=140, n_cum_dose1=980),
 Row(dep='01', clage_vacsi=79, jour='2021-01-23', n_dose1=96, n_cum_dose1=1076),
 Row(dep='01', clage_vacsi=79, jour='2021-01-24', n_dose1=21, n_cum_dose1=1097),
 Row(dep='01', clage_vacsi=79, jour='2021-01-25', n_dose1=143, n_cum_dose1=1240),
 Row(dep='01', clage_vacsi=79, jour='2021-01-26', n_dose1=172, n_cum_dose1=1412),
 Row(dep='01', clage_vacsi=79, jour='2021-01-27', n_dose1=126, n_cum_dose1=1538),
 Row(dep='01', clage_vacsi=79, jour='2021-01-28', n_dose1=150, n_cum_dose1=1688),
 Row(dep='01', clage_vacsi=79, jour='2021-01-29', n_dose1=165, n_cum_dose1=1853),
 Row(dep='01', clage_vacsi=79, jour='2021-01-30', n_dose1=93, n_cum_dose1=1946),
 Row(dep='01', clage_vacsi=79, jour='2021-01-31', n_dose1=22, n_cum_dose1=1968),
 Row(dep='01', clage_vacsi=79, jour='2021-02-01', n_dose1=120, n_cum_dose1=2088),
 Row(dep='01', clage_vacsi=79, jour='2021-02-02', n_dose1=130, n_cum_dose1=2218),
 Row(dep='01', clage_vacsi=80, jour='2021-01-07', n_dose1=35, n_cum_dose1=35),
 Row(dep='01', clage_vacsi=80, jour='2021-01-08', n_dose1=86, n_cum_dose1=121),
 Row(dep='01', clage_vacsi=80, jour='2021-01-09', n_dose1=1, n_cum_dose1=122),
 Row(dep='01', clage_vacsi=80, jour='2021-01-11', n_dose1=32, n_cum_dose1=154),
 Row(dep='01', clage_vacsi=80, jour='2021-01-12', n_dose1=41, n_cum_dose1=195),
 Row(dep='01', clage_vacsi=80, jour='2021-01-13', n_dose1=94, n_cum_dose1=289),
 Row(dep='01', clage_vacsi=80, jour='2021-01-14', n_dose1=86, n_cum_dose1=375),
 Row(dep='01', clage_vacsi=80, jour='2021-01-15', n_dose1=77, n_cum_dose1=452),
 Row(dep='01', clage_vacsi=80, jour='2021-01-16', n_dose1=68, n_cum_dose1=520),
 Row(dep='01', clage_vacsi=80, jour='2021-01-17', n_dose1=4, n_cum_dose1=524),
 Row(dep='01', clage_vacsi=80, jour='2021-01-18', n_dose1=107, n_cum_dose1=631),
 Row(dep='01', clage_vacsi=80, jour='2021-01-19', n_dose1=542, n_cum_dose1=1173),
 Row(dep='01', clage_vacsi=80, jour='2021-01-20', n_dose1=590, n_cum_dose1=1763),
 Row(dep='01', clage_vacsi=80, jour='2021-01-21', n_dose1=581, n_cum_dose1=2344),
 Row(dep='01', clage_vacsi=80, jour='2021-01-22', n_dose1=272, n_cum_dose1=2616),
 Row(dep='01', clage_vacsi=80, jour='2021-01-23', n_dose1=107, n_cum_dose1=2723),
 Row(dep='01', clage_vacsi=80, jour='2021-01-24', n_dose1=32, n_cum_dose1=2755),
 Row(dep='01', clage_vacsi=80, jour='2021-01-25', n_dose1=214, n_cum_dose1=2969),
 Row(dep='01', clage_vacsi=80, jour='2021-01-26', n_dose1=360, n_cum_dose1=3329),
 Row(dep='01', clage_vacsi=80, jour='2021-01-27', n_dose1=237, n_cum_dose1=3566),
 Row(dep='01', clage_vacsi=80, jour='2021-01-28', n_dose1=315, n_cum_dose1=3881),
 Row(dep='01', clage_vacsi=80, jour='2021-01-29', n_dose1=303, n_cum_dose1=4184),
 Row(dep='01', clage_vacsi=80, jour='2021-01-30', n_dose1=111, n_cum_dose1=4295),
 Row(dep='01', clage_vacsi=80, jour='2021-01-31', n_dose1=32, n_cum_dose1=4327),
 Row(dep='01', clage_vacsi=80, jour='2021-02-01', n_dose1=206, n_cum_dose1=4533),
 Row(dep='01', clage_vacsi=80, jour='2021-02-02', n_dose1=252, n_cum_dose1=4785)]

In [ ]:
vacc.select("dep").distinct().collect()

## 4.3) summary

La méthode summary() permet des faire des calculs statistiques de base sur toutes les colonnes du df.

Appliquez un count et un max sur toutes les colonnes du df et afficher les résultats.

In [92]:
villes.summary("count", "max").collect()

[Row(summary='count', id='1083', vitesse_a_pied='1083', vitesse_a_velo='1083', home='1083', travail='1083', statut='1083', salaire='1083', sexe='1083', age='1083', sportivite='1083', velo_perf_minimale='1083'),
 Row(summary='max', id='6333', vitesse_a_pied='3.7766588011416977', vitesse_a_velo='10.07109013637786', home='(lon:9.99 lat:17.81)', travail='(lon:9.90 lat:0.36)', statut='éboueur', salaire='80017.45851327667', sexe='H', age='84', sportivite='8.683572706695392', velo_perf_minimale='4.596287556824109')]

In [1]:
villes.summary("count", "max").collect()

NameError: name 'villes' is not defined

In [9]:
vacc = spark.read.load("./data/Covid/vacsi-a-dep-2021-02-03-20h15.csv", format="csv", header=True, inferSchema="True")

vacc.printSchema()

root
 |-- dep: string (nullable = true)
 |-- clage_vacsi: integer (nullable = true)
 |-- jour: string (nullable = true)
 |-- n_dose1: integer (nullable = true)
 |-- n_cum_dose1: integer (nullable = true)

In [19]:
newvacc = vacc.select(["clage_vacsi", "n_cum_dose1"])

newvacc.collect()

[Row(clage_vacsi=0, n_cum_dose1=1),
 Row(clage_vacsi=0, n_cum_dose1=67),
 Row(clage_vacsi=0, n_cum_dose1=226),
 Row(clage_vacsi=0, n_cum_dose1=228),
 Row(clage_vacsi=0, n_cum_dose1=364),
 Row(clage_vacsi=0, n_cum_dose1=642),
 Row(clage_vacsi=0, n_cum_dose1=1058),
 Row(clage_vacsi=0, n_cum_dose1=1524),
 Row(clage_vacsi=0, n_cum_dose1=1912),
 Row(clage_vacsi=0, n_cum_dose1=2109),
 Row(clage_vacsi=0, n_cum_dose1=2234),
 Row(clage_vacsi=0, n_cum_dose1=2571),
 Row(clage_vacsi=0, n_cum_dose1=3580),
 Row(clage_vacsi=0, n_cum_dose1=4745),
 Row(clage_vacsi=0, n_cum_dose1=5736),
 Row(clage_vacsi=0, n_cum_dose1=6370),
 Row(clage_vacsi=0, n_cum_dose1=6588),
 Row(clage_vacsi=0, n_cum_dose1=6656),
 Row(clage_vacsi=0, n_cum_dose1=7115),
 Row(clage_vacsi=0, n_cum_dose1=7820),
 Row(clage_vacsi=0, n_cum_dose1=8319),
 Row(clage_vacsi=0, n_cum_dose1=8931),
 Row(clage_vacsi=0, n_cum_dose1=9546),
 Row(clage_vacsi=0, n_cum_dose1=9777),
 Row(clage_vacsi=0, n_cum_dose1=9836),
 Row(clage_vacsi=0, n_cum_dose1=10253),
 Row(clage_vacsi=0, n_cum_dose1=10727),
 Row(clage_vacsi=24, n_cum_dose1=1),
 Row(clage_vacsi=24, n_cum_dose1=4),
 Row(clage_vacsi=24, n_cum_dose1=7),
 Row(clage_vacsi=24, n_cum_dose1=8),
 Row(clage_vacsi=24, n_cum_dose1=11),
 Row(clage_vacsi=24, n_cum_dose1=12),
 Row(clage_vacsi=24, n_cum_dose1=16),
 Row(clage_vacsi=24, n_cum_dose1=18),
 Row(clage_vacsi=24, n_cum_dose1=19),
 Row(clage_vacsi=29, n_cum_dose1=2),
 Row(clage_vacsi=29, n_cum_dose1=6),
 Row(clage_vacsi=29, n_cum_dose1=8),
 Row(clage_vacsi=29, n_cum_dose1=12),
 Row(clage_vacsi=29, n_cum_dose1=14),
 Row(clage_vacsi=29, n_cum_dose1=16),
 Row(clage_vacsi=29, n_cum_dose1=17),
 Row(clage_vacsi=29, n_cum_dose1=18),
 Row(clage_vacsi=29, n_cum_dose1=21),
 Row(clage_vacsi=29, n_cum_dose1=27),
 Row(clage_vacsi=29, n_cum_dose1=32),
 Row(clage_vacsi=29, n_cum_dose1=39),
 Row(clage_vacsi=29, n_cum_dose1=46),
 Row(clage_vacsi=29, n_cum_dose1=49),
 Row(clage_vacsi=29, n_cum_dose1=50),
 Row(clage_vacsi=29, n_cum_dose1=54),
 Row(clage_vacsi=29, n_cum_dose1=54),
 Row(clage_vacsi=29, n_cum_dose1=56),
 Row(clage_vacsi=39, n_cum_dose1=1),
 Row(clage_vacsi=39, n_cum_dose1=10),
 Row(clage_vacsi=39, n_cum_dose1=24),
 Row(clage_vacsi=39, n_cum_dose1=41),
 Row(clage_vacsi=39, n_cum_dose1=56),
 Row(clage_vacsi=39, n_cum_dose1=80),
 Row(clage_vacsi=39, n_cum_dose1=88),
 Row(clage_vacsi=39, n_cum_dose1=90),
 Row(clage_vacsi=39, n_cum_dose1=94),
 Row(clage_vacsi=39, n_cum_dose1=104),
 Row(clage_vacsi=39, n_cum_dose1=124),
 Row(clage_vacsi=39, n_cum_dose1=144),
 Row(clage_vacsi=39, n_cum_dose1=165),
 Row(clage_vacsi=39, n_cum_dose1=166),
 Row(clage_vacsi=39, n_cum_dose1=176),
 Row(clage_vacsi=39, n_cum_dose1=187),
 Row(clage_vacsi=39, n_cum_dose1=197),
 Row(clage_vacsi=39, n_cum_dose1=203),
 Row(clage_vacsi=39, n_cum_dose1=204),
 Row(clage_vacsi=39, n_cum_dose1=205),
 Row(clage_vacsi=39, n_cum_dose1=207),
 Row(clage_vacsi=39, n_cum_dose1=209),
 Row(clage_vacsi=49, n_cum_dose1=1),
 Row(clage_vacsi=49, n_cum_dose1=6),
 Row(clage_vacsi=49, n_cum_dose1=24),
 Row(clage_vacsi=49, n_cum_dose1=55),
 Row(clage_vacsi=49, n_cum_dose1=86),
 Row(clage_vacsi=49, n_cum_dose1=118),
 Row(clage_vacsi=49, n_cum_dose1=158),
 Row(clage_vacsi=49, n_cum_dose1=169),
 Row(clage_vacsi=49, n_cum_dose1=173),
 Row(clage_vacsi=49, n_cum_dose1=181),
 Row(clage_vacsi=49, n_cum_dose1=199),
 Row(clage_vacsi=49, n_cum_dose1=250),
 Row(clage_vacsi=49, n_cum_dose1=286),
 Row(clage_vacsi=49, n_cum_dose1=305),
 Row(clage_vacsi=49, n_cum_dose1=309),
 Row(clage_vacsi=49, n_cum_dose1=312),
 Row(clage_vacsi=49, n_cum_dose1=322),
 Row(clage_vacsi=49, n_cum_dose1=346),
 Row(clage_vacsi=49, n_cum_dose1=366),
 Row(clage_vacsi=49, n_cum_dose1=383),
 Row(clage_vacsi=49, n_cum_dose1=404),
 Row(clage_vacsi=49, n_cum_dose1=409),
 Row(clage_vacsi=49, n_cum_dose1=414),
 Row(clage_vacsi=49, n_cum_dose1=427),
 Row(clage_vacsi=59, n_cum_dose1=1),
 Row(clage_vacsi=59, n_cum_dose1=16),
 Row(clage_vacsi=59, n_cum_dose1=43),
 Row(clage_vacsi=59, n_cum_dose1=89),
 Row(clage_vacsi=59, n_cum_dose1=201),
 Row(clage_vacsi=59, n_cum_dose1=339),
 Row(clage_vacsi=59, n_cum_dose1=525),
 Row(clage_vacsi=59, n_cum_dose1=646),
 Row(clage_vacsi=59, n_cum_dose1=676),
 Row(clage_vacsi=59, n_cum_dose1=734),
 Row(clage_vacsi=59, n_cum_dose1=783),
 Row(clage_vacsi=59, n_cum_dose1=909),
 Row(clage_vacsi=59, n_cum_dose1=1100),
 Row(clage_vacsi=59, n_cum_dose1=1179),
 Row(clage_vacsi=59, n_cum_dose1=1260),
 Row(clage_vacsi=59, n_cum_dose1=1265),
 Row(clage_vacsi=59, n_cum_dose1=1271),
 Row(clage_vacsi=59, n_cum_dose1=1302),
 Row(clage_vacsi=59, n_cum_dose1=1340),
 Row(clage_vacsi=59, n_cum_dose1=1385),
 Row(clage_vacsi=59, n_cum_dose1=1432),
 Row(clage_vacsi=59, n_cum_dose1=1467),
 Row(clage_vacsi=59, n_cum_dose1=1476),
 Row(clage_vacsi=59, n_cum_dose1=1478),
 Row(clage_vacsi=59, n_cum_dose1=1506),
 Row(clage_vacsi=59, n_cum_dose1=1539),
 Row(clage_vacsi=64, n_cum_dose1=8),
 Row(clage_vacsi=64, n_cum_dose1=17),
 Row(clage_vacsi=64, n_cum_dose1=32),
 Row(clage_vacsi=64, n_cum_dose1=68),
 Row(clage_vacsi=64, n_cum_dose1=115),
 Row(clage_vacsi=64, n_cum_dose1=177),
 Row(clage_vacsi=64, n_cum_dose1=222),
 Row(clage_vacsi=64, n_cum_dose1=234),
 Row(clage_vacsi=64, n_cum_dose1=257),
 Row(clage_vacsi=64, n_cum_dose1=284),
 Row(clage_vacsi=64, n_cum_dose1=338),
 Row(clage_vacsi=64, n_cum_dose1=387),
 Row(clage_vacsi=64, n_cum_dose1=429),
 Row(clage_vacsi=64, n_cum_dose1=472),
 Row(clage_vacsi=64, n_cum_dose1=474),
 Row(clage_vacsi=64, n_cum_dose1=475),
 Row(clage_vacsi=64, n_cum_dose1=488),
 Row(clage_vacsi=64, n_cum_dose1=526),
 Row(clage_vacsi=64, n_cum_dose1=538),
 Row(clage_vacsi=64, n_cum_dose1=555),
 Row(clage_vacsi=64, n_cum_dose1=577),
 Row(clage_vacsi=64, n_cum_dose1=581),
 Row(clage_vacsi=64, n_cum_dose1=582),
 Row(clage_vacsi=64, n_cum_dose1=592),
 Row(clage_vacsi=64, n_cum_dose1=604),
 Row(clage_vacsi=69, n_cum_dose1=3),
 Row(clage_vacsi=69, n_cum_dose1=9),
 Row(clage_vacsi=69, n_cum_dose1=17),
 Row(clage_vacsi=69, n_cum_dose1=31),
 Row(clage_vacsi=69, n_cum_dose1=60),
 Row(clage_vacsi=69, n_cum_dose1=85),
 Row(clage_vacsi=69, n_cum_dose1=112),
 Row(clage_vacsi=69, n_cum_dose1=118),
 Row(clage_vacsi=69, n_cum_dose1=131),
 Row(clage_vacsi=69, n_cum_dose1=141),
 Row(clage_vacsi=69, n_cum_dose1=169),
 Row(clage_vacsi=69, n_cum_dose1=200),
 Row(clage_vacsi=69, n_cum_dose1=227),
 Row(clage_vacsi=69, n_cum_dose1=251),
 Row(clage_vacsi=69, n_cum_dose1=252),
 Row(clage_vacsi=69, n_cum_dose1=273),
 Row(clage_vacsi=69, n_cum_dose1=299),
 Row(clage_vacsi=69, n_cum_dose1=319),
 Row(clage_vacsi=69, n_cum_dose1=345),
 Row(clage_vacsi=69, n_cum_dose1=370),
 Row(clage_vacsi=69, n_cum_dose1=374),
 Row(clage_vacsi=69, n_cum_dose1=388),
 Row(clage_vacsi=69, n_cum_dose1=404),
 Row(clage_vacsi=74, n_cum_dose1=4),
 Row(clage_vacsi=74, n_cum_dose1=16),
 Row(clage_vacsi=74, n_cum_dose1=20),
 Row(clage_vacsi=74, n_cum_dose1=34),
 Row(clage_vacsi=74, n_cum_dose1=58),
 Row(clage_vacsi=74, n_cum_dose1=86),
 Row(clage_vacsi=74, n_cum_dose1=100),
 Row(clage_vacsi=74, n_cum_dose1=112),
 Row(clage_vacsi=74, n_cum_dose1=124),
 Row(clage_vacsi=74, n_cum_dose1=139),
 Row(clage_vacsi=74, n_cum_dose1=178),
 Row(clage_vacsi=74, n_cum_dose1=216),
 Row(clage_vacsi=74, n_cum_dose1=247),
 Row(clage_vacsi=74, n_cum_dose1=271),
 Row(clage_vacsi=74, n_cum_dose1=274),
 Row(clage_vacsi=74, n_cum_dose1=278),
 Row(clage_vacsi=74, n_cum_dose1=305),
 Row(clage_vacsi=74, n_cum_dose1=334),
 Row(clage_vacsi=74, n_cum_dose1=354),
 Row(clage_vacsi=74, n_cum_dose1=383),
 Row(clage_vacsi=74, n_cum_dose1=415),
 Row(clage_vacsi=74, n_cum_dose1=419),
 Row(clage_vacsi=74, n_cum_dose1=451),
 Row(clage_vacsi=74, n_cum_dose1=465),
 Row(clage_vacsi=79, n_cum_dose1=13),
 Row(clage_vacsi=79, n_cum_dose1=14),
 Row(clage_vacsi=79, n_cum_dose1=16),
 Row(clage_vacsi=79, n_cum_dose1=28),
 Row(clage_vacsi=79, n_cum_dose1=62),
 Row(clage_vacsi=79, n_cum_dose1=90),
 Row(clage_vacsi=79, n_cum_dose1=127),
 Row(clage_vacsi=79, n_cum_dose1=172),
 Row(clage_vacsi=79, n_cum_dose1=180),
 Row(clage_vacsi=79, n_cum_dose1=296),
 Row(clage_vacsi=79, n_cum_dose1=485),
 Row(clage_vacsi=79, n_cum_dose1=671),
 Row(clage_vacsi=79, n_cum_dose1=840),
 Row(clage_vacsi=79, n_cum_dose1=980),
 Row(clage_vacsi=79, n_cum_dose1=1076),
 Row(clage_vacsi=79, n_cum_dose1=1097),
 Row(clage_vacsi=79, n_cum_dose1=1240),
 Row(clage_vacsi=79, n_cum_dose1=1412),
 Row(clage_vacsi=79, n_cum_dose1=1538),
 Row(clage_vacsi=79, n_cum_dose1=1688),
 Row(clage_vacsi=79, n_cum_dose1=1853),
 Row(clage_vacsi=79, n_cum_dose1=1946),
 Row(clage_vacsi=79, n_cum_dose1=1968),
 Row(clage_vacsi=79, n_cum_dose1=2088),
 Row(clage_vacsi=79, n_cum_dose1=2218),
 Row(clage_vacsi=80, n_cum_dose1=35),
 Row(clage_vacsi=80, n_cum_dose1=121),
 Row(clage_vacsi=80, n_cum_dose1=122),
 Row(clage_vacsi=80, n_cum_dose1=154),
 Row(clage_vacsi=80, n_cum_dose1=195),
 Row(clage_vacsi=80, n_cum_dose1=289),
 Row(clage_vacsi=80, n_cum_dose1=375),
 Row(clage_vacsi=80, n_cum_dose1=452),
 Row(clage_vacsi=80, n_cum_dose1=520),
 Row(clage_vacsi=80, n_cum_dose1=524),
 Row(clage_vacsi=80, n_cum_dose1=631),
 Row(clage_vacsi=80, n_cum_dose1=1173),
 Row(clage_vacsi=80, n_cum_dose1=1763),
 Row(clage_vacsi=80, n_cum_dose1=2344),
 Row(clage_vacsi=80, n_cum_dose1=2616),
 Row(clage_vacsi=80, n_cum_dose1=2723),
 Row(clage_vacsi=80, n_cum_dose1=2755),
 Row(clage_vacsi=80, n_cum_dose1=2969),
 Row(clage_vacsi=80, n_cum_dose1=3329),
 Row(clage_vacsi=80, n_cum_dose1=3566),
 Row(clage_vacsi=80, n_cum_dose1=3881),
 Row(clage_vacsi=80, n_cum_dose1=4184),
 Row(clage_vacsi=80, n_cum_dose1=4295),
 Row(clage_vacsi=80, n_cum_dose1=4327),
 Row(clage_vacsi=80, n_cum_dose1=4533),
 Row(clage_vacsi=80, n_cum_dose1=4785),
 Row(clage_vacsi=0, n_cum_dose1=22),
 Row(clage_vacsi=0, n_cum_dose1=282),
 Row(clage_vacsi=0, n_cum_dose1=750),
 Row(clage_vacsi=0, n_cum_dose1=822),
 Row(clage_vacsi=0, n_cum_dose1=871),
 Row(clage_vacsi=0, n_cum_dose1=1135),
 Row(clage_vacsi=0, n_cum_dose1=1481),
 Row(clage_vacsi=0, n_cum_dose1=1918),
 Row(clage_vacsi=0, n_cum_dose1=2512),
 Row(clage_vacsi=0, n_cum_dose1=3131),
 Row(clage_vacsi=0, n_cum_dose1=3457),
 Row(clage_vacsi=0, n_cum_dose1=3517),
 Row(clage_vacsi=0, n_cum_dose1=4320),
 Row(clage_vacsi=0, n_cum_dose1=5256),
 Row(clage_vacsi=0, n_cum_dose1=6678),
 Row(clage_vacsi=0, n_cum_dose1=9216),
 Row(clage_vacsi=0, n_cum_dose1=10627),
 Row(clage_vacsi=0, n_cum_dose1=10871),
 Row(clage_vacsi=0, n_cum_dose1=10936),
 Row(clage_vacsi=0, n_cum_dose1=11366),
 Row(clage_vacsi=0, n_cum_dose1=12058),
 Row(clage_vacsi=0, n_cum_dose1=12217),
 Row(clage_vacsi=0, n_cum_dose1=12275),
 Row(clage_vacsi=0, n_cum_dose1=12383),
 Row(clage_vacsi=0, n_cum_dose1=12387),
 Row(clage_vacsi=0, n_cum_dose1=12387),
 Row(clage_vacsi=0, n_cum_dose1=12399),
 Row(clage_vacsi=0, n_cum_dose1=12438),
 Row(clage_vacsi=24, n_cum_dose1=1),
 Row(clage_vacsi=24, n_cum_dose1=2),
 Row(clage_vacsi=24, n_cum_dose1=3),
 Row(clage_vacsi=24, n_cum_dose1=6),
 Row(clage_vacsi=24, n_cum_dose1=11),
 Row(clage_vacsi=24, n_cum_dose1=16),
 Row(clage_vacsi=24, n_cum_dose1=19),
 Row(clage_vacsi=24, n_cum_dose1=22),
 Row(clage_vacsi=24, n_cum_dose1=24),
 Row(clage_vacsi=24, n_cum_dose1=28),
 Row(clage_vacsi=24, n_cum_dose1=40),
 Row(clage_vacsi=24, n_cum_dose1=45),
 Row(clage_vacsi=24, n_cum_dose1=46),
 Row(clage_vacsi=24, n_cum_dose1=46),
 Row(clage_vacsi=24, n_cum_dose1=48),
 Row(clage_vacsi=24, n_cum_dose1=48),
 Row(clage_vacsi=29, n_cum_dose1=4),
 Row(clage_vacsi=29, n_cum_dose1=7),
 Row(clage_vacsi=29, n_cum_dose1=9),
 Row(clage_vacsi=29, n_cum_dose1=24),
 Row(clage_vacsi=29, n_cum_dose1=32),
 Row(clage_vacsi=29, n_cum_dose1=42),
 Row(clage_vacsi=29, n_cum_dose1=47),
 Row(clage_vacsi=29, n_cum_dose1=50),
 Row(clage_vacsi=29, n_cum_dose1=56),
 Row(clage_vacsi=29, n_cum_dose1=65),
 Row(clage_vacsi=29, n_cum_dose1=91),
 Row(clage_vacsi=29, n_cum_dose1=105),
 Row(clage_vacsi=29, n_cum_dose1=106),
 Row(clage_vacsi=29, n_cum_dose1=108),
 Row(clage_vacsi=29, n_cum_dose1=110),
 Row(clage_vacsi=29, n_cum_dose1=110),
 Row(clage_vacsi=29, n_cum_dose1=110),
 Row(clage_vacsi=39, n_cum_dose1=5),
 Row(clage_vacsi=39, n_cum_dose1=14),
 Row(clage_vacsi=39, n_cum_dose1=20),
 Row(clage_vacsi=39, n_cum_dose1=29),
 Row(clage_vacsi=39, n_cum_dose1=42),
 Row(clage_vacsi=39, n_cum_dose1=80),
 Row(clage_vacsi=39, n_cum_dose1=116),
 Row(clage_vacsi=39, n_cum_dose1=167),
 Row(clage_vacsi=39, n_cum_dose1=181),
 Row(clage_vacsi=39, n_cum_dose1=183),
 Row(clage_vacsi=39, n_cum_dose1=207),
 Row(clage_vacsi=39, n_cum_dose1=228),
 Row(clage_vacsi=39, n_cum_dose1=256),
 Row(clage_vacsi=39, n_cum_dose1=327),
 Row(clage_vacsi=39, n_cum_dose1=363),
 Row(clage_vacsi=39, n_cum_dose1=368),
 Row(clage_vacsi=39, n_cum_dose1=371),
 Row(clage_vacsi=39, n_cum_dose1=377),
 Row(clage_vacsi=39, n_cum_dose1=390),
 Row(clage_vacsi=39, n_cum_dose1=391),
 Row(clage_vacsi=39, n_cum_dose1=395),
 Row(clage_vacsi=39, n_cum_dose1=412),
 Row(clage_vacsi=39, n_cum_dose1=412),
 Row(clage_vacsi=39, n_cum_dose1=413),
 Row(clage_vacsi=39, n_cum_dose1=414),
 Row(clage_vacsi=49, n_cum_dose1=1),
 Row(clage_vacsi=49, n_cum_dose1=23),
 Row(clage_vacsi=49, n_cum_dose1=48),
 Row(clage_vacsi=49, n_cum_dose1=51),
 Row(clage_vacsi=49, n_cum_dose1=53),
 Row(clage_vacsi=49, n_cum_dose1=84),
 Row(clage_vacsi=49, n_cum_dose1=118),
 Row(clage_vacsi=49, n_cum_dose1=183),
 Row(clage_vacsi=49, n_cum_dose1=263),
 Row(clage_vacsi=49, n_cum_dose1=336),
 Row(clage_vacsi=49, n_cum_dose1=366),
 Row(clage_vacsi=49, n_cum_dose1=373),
 Row(clage_vacsi=49, n_cum_dose1=408),
 Row(clage_vacsi=49, n_cum_dose1=461),
 Row(clage_vacsi=49, n_cum_dose1=517),
 Row(clage_vacsi=49, n_cum_dose1=636),
 Row(clage_vacsi=49, n_cum_dose1=705),
 Row(clage_vacsi=49, n_cum_dose1=710),
 Row(clage_vacsi=49, n_cum_dose1=714),
 Row(clage_vacsi=49, n_cum_dose1=729),
 Row(clage_vacsi=49, n_cum_dose1=747),
 Row(clage_vacsi=49, n_cum_dose1=749),
 Row(clage_vacsi=49, n_cum_dose1=755),
 Row(clage_vacsi=49, n_cum_dose1=775),
 Row(clage_vacsi=49, n_cum_dose1=776),
 Row(clage_vacsi=49, n_cum_dose1=778),
 Row(clage_vacsi=49, n_cum_dose1=778),
 Row(clage_vacsi=59, n_cum_dose1=15),
 Row(clage_vacsi=59, n_cum_dose1=96),
 Row(clage_vacsi=59, n_cum_dose1=248),
 Row(clage_vacsi=59, n_cum_dose1=275),
 Row(clage_vacsi=59, n_cum_dose1=293),
 Row(clage_vacsi=59, n_cum_dose1=400),
 Row(clage_vacsi=59, n_cum_dose1=532),
 Row(clage_vacsi=59, n_cum_dose1=698),
 Row(clage_vacsi=59, n_cum_dose1=886),
 Row(clage_vacsi=59, n_cum_dose1=1046),
 Row(clage_vacsi=59, n_cum_dose1=1131),
 Row(clage_vacsi=59, n_cum_dose1=1151),
 Row(clage_vacsi=59, n_cum_dose1=1252),
 Row(clage_vacsi=59, n_cum_dose1=1348),
 Row(clage_vacsi=59, n_cum_dose1=1463),
 Row(clage_vacsi=59, n_cum_dose1=1733),
 Row(clage_vacsi=59, n_cum_dose1=1868),
 Row(clage_vacsi=59, n_cum_dose1=1882),
 Row(clage_vacsi=59, n_cum_dose1=1890),
 Row(clage_vacsi=59, n_cum_dose1=1920),
 Row(clage_vacsi=59, n_cum_dose1=1987),
 Row(clage_vacsi=59, n_cum_dose1=1998),
 Row(clage_vacsi=59, n_cum_dose1=2009),
 Row(clage_vacsi=59, n_cum_dose1=2022),
 Row(clage_vacsi=59, n_cum_dose1=2022),
 Row(clage_vacsi=59, n_cum_dose1=2022),
 Row(clage_vacsi=59, n_cum_dose1=2024),
 Row(clage_vacsi=64, n_cum_dose1=2),
 Row(clage_vacsi=64, n_cum_dose1=45),
 Row(clage_vacsi=64, n_cum_dose1=104),
 Row(clage_vacsi=64, n_cum_dose1=125),
 Row(clage_vacsi=64, n_cum_dose1=134),
 Row(clage_vacsi=64, n_cum_dose1=184),
 Row(clage_vacsi=64, n_cum_dose1=231),
 Row(clage_vacsi=64, n_cum_dose1=284),
 Row(clage_vacsi=64, n_cum_dose1=344),
 Row(clage_vacsi=64, n_cum_dose1=395),
 Row(clage_vacsi=64, n_cum_dose1=437),
 Row(clage_vacsi=64, n_cum_dose1=444),
 Row(clage_vacsi=64, n_cum_dose1=479),
 Row(clage_vacsi=64, n_cum_dose1=520),
 Row(clage_vacsi=64, n_cum_dose1=580),
 Row(clage_vacsi=64, n_cum_dose1=710),
 Row(clage_vacsi=64, n_cum_dose1=767),
 Row(clage_vacsi=64, n_cum_dose1=778),
 Row(clage_vacsi=64, n_cum_dose1=782),
 Row(clage_vacsi=64, n_cum_dose1=805),
 Row(clage_vacsi=64, n_cum_dose1=832),
 Row(clage_vacsi=64, n_cum_dose1=836),
 Row(clage_vacsi=64, n_cum_dose1=840),
 Row(clage_vacsi=64, n_cum_dose1=844),
 Row(clage_vacsi=64, n_cum_dose1=845),
 Row(clage_vacsi=64, n_cum_dose1=846),
 Row(clage_vacsi=64, n_cum_dose1=848),
 Row(clage_vacsi=69, n_cum_dose1=3),
 Row(clage_vacsi=69, n_cum_dose1=22),
 Row(clage_vacsi=69, n_cum_dose1=65),
 Row(clage_vacsi=69, n_cum_dose1=75),
 Row(clage_vacsi=69, n_cum_dose1=81),
 Row(clage_vacsi=69, n_cum_dose1=105),
 Row(clage_vacsi=69, n_cum_dose1=129),
 Row(clage_vacsi=69, n_cum_dose1=152),
 Row(clage_vacsi=69, n_cum_dose1=190),
 Row(clage_vacsi=69, n_cum_dose1=232),
 Row(clage_vacsi=69, n_cum_dose1=262),
 Row(clage_vacsi=69, n_cum_dose1=263),
 Row(clage_vacsi=69, n_cum_dose1=285),
 Row(clage_vacsi=69, n_cum_dose1=315),
 Row(clage_vacsi=69, n_cum_dose1=364),
 Row(clage_vacsi=69, n_cum_dose1=489),
 Row(clage_vacsi=69, n_cum_dose1=571),
 Row(clage_vacsi=69, n_cum_dose1=584),
 Row(clage_vacsi=69, n_cum_dose1=591),
 Row(clage_vacsi=69, n_cum_dose1=601),
 Row(clage_vacsi=69, n_cum_dose1=620),
 Row(clage_vacsi=69, n_cum_dose1=622),
 Row(clage_vacsi=69, n_cum_dose1=624),
 Row(clage_vacsi=69, n_cum_dose1=626),
 Row(clage_vacsi=69, n_cum_dose1=626),
 Row(clage_vacsi=69, n_cum_dose1=627),
 Row(clage_vacsi=69, n_cum_dose1=627),
 Row(clage_vacsi=74, n_cum_dose1=17),
 Row(clage_vacsi=74, n_cum_dose1=48),
 Row(clage_vacsi=74, n_cum_dose1=52),
 Row(clage_vacsi=74, n_cum_dose1=58),
 Row(clage_vacsi=74, n_cum_dose1=71),
 Row(clage_vacsi=74, n_cum_dose1=93),
 Row(clage_vacsi=74, n_cum_dose1=116),
 Row(clage_vacsi=74, n_cum_dose1=154),
 Row(clage_vacsi=74, n_cum_dose1=197),
 Row(clage_vacsi=74, n_cum_dose1=223),
 Row(clage_vacsi=74, n_cum_dose1=227),
 Row(clage_vacsi=74, n_cum_dose1=271),
 Row(clage_vacsi=74, n_cum_dose1=317),
 Row(clage_vacsi=74, n_cum_dose1=404),
 Row(clage_vacsi=74, n_cum_dose1=553),
 Row(clage_vacsi=74, n_cum_dose1=664),
 Row(clage_vacsi=74, n_cum_dose1=677),
 Row(clage_vacsi=74, n_cum_dose1=680),
 Row(clage_vacsi=74, n_cum_dose1=703),
 Row(clage_vacsi=74, n_cum_dose1=733),
 Row(clage_vacsi=74, n_cum_dose1=743),
 Row(clage_vacsi=74, n_cum_dose1=743),
 Row(clage_vacsi=74, n_cum_dose1=748),
 Row(clage_vacsi=74, n_cum_dose1=749),
 Row(clage_vacsi=74, n_cum_dose1=751),
 Row(clage_vacsi=74, n_cum_dose1=754),
 Row(clage_vacsi=79, n_cum_dose1=9),
 Row(clage_vacsi=79, n_cum_dose1=30),
 Row(clage_vacsi=79, n_cum_dose1=31),
 Row(clage_vacsi=79, n_cum_dose1=33),
 Row(clage_vacsi=79, n_cum_dose1=37),
 Row(clage_vacsi=79, n_cum_dose1=52),
 Row(clage_vacsi=79, n_cum_dose1=70),
 Row(clage_vacsi=79, n_cum_dose1=126),
 Row(clage_vacsi=79, n_cum_dose1=205),
 Row(clage_vacsi=79, n_cum_dose1=245),
 Row(clage_vacsi=79, n_cum_dose1=258),
 Row(clage_vacsi=79, n_cum_dose1=451),
 Row(clage_vacsi=79, n_cum_dose1=667),
 Row(clage_vacsi=79, n_cum_dose1=947),
 Row(clage_vacsi=79, n_cum_dose1=1274),
 Row(clage_vacsi=79, n_cum_dose1=1543),
 Row(clage_vacsi=79, n_cum_dose1=1608),
 Row(clage_vacsi=79, n_cum_dose1=1613),
 Row(clage_vacsi=79, n_cum_dose1=1727),
 Row(clage_vacsi=79, n_cum_dose1=1902),
 Row(clage_vacsi=79, n_cum_dose1=1944),
 Row(clage_vacsi=79, n_cum_dose1=1947),
 Row(clage_vacsi=79, n_cum_dose1=1952),
 Row(clage_vacsi=79, n_cum_dose1=1953),
 Row(clage_vacsi=79, n_cum_dose1=1954),
 Row(clage_vacsi=79, n_cum_dose1=1963),
 Row(clage_vacsi=80, n_cum_dose1=1),
 Row(clage_vacsi=80, n_cum_dose1=64),
 Row(clage_vacsi=80, n_cum_dose1=187),
 Row(clage_vacsi=80, n_cum_dose1=193),
 Row(clage_vacsi=80, n_cum_dose1=216),
 Row(clage_vacsi=80, n_cum_dose1=272),
 Row(clage_vacsi=80, n_cum_dose1=305),
 Row(clage_vacsi=80, n_cum_dose1=390),
 Row(clage_vacsi=80, n_cum_dose1=495),
 Row(clage_vacsi=80, n_cum_dose1=546),
 Row(clage_vacsi=80, n_cum_dose1=552),
 Row(clage_vacsi=80, n_cum_dose1=895),
 Row(clage_vacsi=80, n_cum_dose1=1320),
 Row(clage_vacsi=80, n_cum_dose1=2054),
 Row(clage_vacsi=80, n_cum_dose1=3362),
 Row(clage_vacsi=80, n_cum_dose1=3995),
 Row(clage_vacsi=80, n_cum_dose1=4113),
 Row(clage_vacsi=80, n_cum_dose1=4143),
 Row(clage_vacsi=80, n_cum_dose1=4352),

In [30]:
newvacc.where( newvacc.clage_vacsi != "0").groupBy("clage_vacsi").agg({"n_cum_dose1" : "max"}).sort(["clage_vacsi"]).collect()

[Row(clage_vacsi=24, max(n_cum_dose1)=325),
 Row(clage_vacsi=29, max(n_cum_dose1)=809),
 Row(clage_vacsi=39, max(n_cum_dose1)=2218),
 Row(clage_vacsi=49, max(n_cum_dose1)=3169),
 Row(clage_vacsi=59, max(n_cum_dose1)=9925),
 Row(clage_vacsi=64, max(n_cum_dose1)=4356),
 Row(clage_vacsi=69, max(n_cum_dose1)=3364),
 Row(clage_vacsi=74, max(n_cum_dose1)=3636),
 Row(clage_vacsi=79, max(n_cum_dose1)=9318),
 Row(clage_vacsi=80, max(n_cum_dose1)=17667)]


## 4.4) Union de dataframe

#### Ajouter les colonnes les unes à côté des autres : join

In [91]:
villes.join(villes, on="id").printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

#### Ajouter les lignes les unes sous les autres : union

In [89]:
villes.unionByName(villes).count()

2166

## 4.6) Concaténation de colonne : F.concat

In [90]:
from pyspark.sql.types import *
from pyspark.sql import functions as F

Nous allons ici reprendre le df cyclistes.

Utiliser les méthodes withColumn() et F.concat() pour ajouter une colonne au df qui contiendra la concatenation des valeurs des colonnes id et sur_velo.

In [71]:
path = "./data/Cyclistes/*.csv" 
cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)
cyclistes.count()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:33735)
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:33735)

In [ ]:
cyclistes.take(10)

In [ ]:
cyclistes.withColumn("id_sur_velo", F.concat(cyclistes.id, cyclistes.sur_velo)).first()

# 5) Fonctions udf 
Il est possible d'enregistrer des fonctions python que l'on écrit nous même pour les appliquer sur une colonne d'une dataframe, c'est ce qu'on appelle les udf, pour User Defined Functions.

Voici une fonction qui prend en argument une colonne et calcule le carré des valeurs de cette colonne.
Appliquez cette fonction sur la colonne salaire de votre df. Affichez le résultat.

In [94]:
from pyspark.sql.types import *
from pyspark.sql.functions import udf

@udf(returnType = FloatType())
def cube(colonne):
    return colonne*colonne

In [95]:
villes.select(cube("salaire")).collect()

[Row(cube(salaire)=888076352.0),
 Row(cube(salaire)=556744960.0),
 Row(cube(salaire)=343366368.0),
 Row(cube(salaire)=360908928.0),
 Row(cube(salaire)=557832576.0),
 Row(cube(salaire)=364134528.0),
 Row(cube(salaire)=474496704.0),
 Row(cube(salaire)=1718207872.0),
 Row(cube(salaire)=485108160.0),
 Row(cube(salaire)=1460085376.0),
 Row(cube(salaire)=1048725888.0),
 Row(cube(salaire)=329618272.0),
 Row(cube(salaire)=1188845696.0),
 Row(cube(salaire)=320207488.0),
 Row(cube(salaire)=233253728.0),
 Row(cube(salaire)=1045899648.0),
 Row(cube(salaire)=920079808.0),
 Row(cube(salaire)=122538472.0),
 Row(cube(salaire)=1059024960.0),
 Row(cube(salaire)=977491776.0),
 Row(cube(salaire)=1613683072.0),
 Row(cube(salaire)=392603904.0),
 Row(cube(salaire)=931271424.0),
 Row(cube(salaire)=962134912.0),
 Row(cube(salaire)=1543054848.0),
 Row(cube(salaire)=472498304.0),
 Row(cube(salaire)=625677888.0),
 Row(cube(salaire)=335133184.0),
 Row(cube(salaire)=911823744.0),
 Row(cube(salaire)=585660096.0),
 Row(cube(salaire)=148055072.0),
 Row(cube(salaire)=324406080.0),
 Row(cube(salaire)=583520000.0),
 Row(cube(salaire)=351186240.0),
 Row(cube(salaire)=1718414976.0),
 Row(cube(salaire)=290498624.0),
 Row(cube(salaire)=289398592.0),
 Row(cube(salaire)=715933568.0),
 Row(cube(salaire)=277056288.0),
 Row(cube(salaire)=362446336.0),
 Row(cube(salaire)=260361488.0),
 Row(cube(salaire)=636708096.0),
 Row(cube(salaire)=647693312.0),
 Row(cube(salaire)=535076960.0),
 Row(cube(salaire)=322203232.0),
 Row(cube(salaire)=3245461248.0),
 Row(cube(salaire)=704051200.0),
 Row(cube(salaire)=666122176.0),
 Row(cube(salaire)=597212160.0),
 Row(cube(salaire)=1210287360.0),
 Row(cube(salaire)=1390442368.0),
 Row(cube(salaire)=1036803712.0),
 Row(cube(salaire)=536019488.0),
 Row(cube(salaire)=209460512.0),
 Row(cube(salaire)=293625376.0),
 Row(cube(salaire)=846198912.0),
 Row(cube(salaire)=241204416.0),
 Row(cube(salaire)=381980160.0),
 Row(cube(salaire)=568321536.0),
 Row(cube(salaire)=367506880.0),
 Row(cube(salaire)=927722880.0),
 Row(cube(salaire)=449307936.0),
 Row(cube(salaire)=1018194624.0),
 Row(cube(salaire)=657389632.0),
 Row(cube(salaire)=2060811392.0),
 Row(cube(salaire)=25827426.0),
 Row(cube(salaire)=1417769600.0),
 Row(cube(salaire)=202998128.0),
 Row(cube(salaire)=1666156032.0),
 Row(cube(salaire)=294141504.0),
 Row(cube(salaire)=427133632.0),
 Row(cube(salaire)=834317696.0),
 Row(cube(salaire)=897682176.0),
 Row(cube(salaire)=269384640.0),
 Row(cube(salaire)=1294273152.0),
 Row(cube(salaire)=709670400.0),
 Row(cube(salaire)=348836480.0),
 Row(cube(salaire)=3106695936.0),
 Row(cube(salaire)=1072561344.0),
 Row(cube(salaire)=1217375872.0),
 Row(cube(salaire)=1332029952.0),
 Row(cube(salaire)=1815494016.0),
 Row(cube(salaire)=201196864.0),
 Row(cube(salaire)=2023206784.0),
 Row(cube(salaire)=1501929856.0),
 Row(cube(salaire)=121846424.0),
 Row(cube(salaire)=284381856.0),
 Row(cube(salaire)=751708224.0),
 Row(cube(salaire)=248096512.0),
 Row(cube(salaire)=1011652480.0),
 Row(cube(salaire)=400720480.0),
 Row(cube(salaire)=708493824.0),
 Row(cube(salaire)=1252973440.0),
 Row(cube(salaire)=1360027136.0),
 Row(cube(salaire)=611228480.0),
 Row(cube(salaire)=308670848.0),
 Row(cube(salaire)=448852032.0),
 Row(cube(salaire)=422037376.0),
 Row(cube(salaire)=325379296.0),
 Row(cube(salaire)=1162533376.0),
 Row(cube(salaire)=379100032.0),
 Row(cube(salaire)=1106113280.0),
 Row(cube(salaire)=414007616.0),
 Row(cube(salaire)=475249856.0),
 Row(cube(salaire)=1036434432.0),
 Row(cube(salaire)=162080736.0),
 Row(cube(salaire)=1326676736.0),
 Row(cube(salaire)=528717152.0),
 Row(cube(salaire)=282313696.0),
 Row(cube(salaire)=264752304.0),
 Row(cube(salaire)=360553280.0),
 Row(cube(salaire)=414281984.0),
 Row(cube(salaire)=603117056.0),
 Row(cube(salaire)=210170624.0),
 Row(cube(salaire)=929835328.0),
 Row(cube(salaire)=455149440.0),
 Row(cube(salaire)=456161472.0),
 Row(cube(salaire)=312307072.0),
 Row(cube(salaire)=568946112.0),
 Row(cube(salaire)=261522576.0),
 Row(cube(salaire)=112449744.0),
 Row(cube(salaire)=221150512.0),
 Row(cube(salaire)=509003744.0),
 Row(cube(salaire)=556474112.0),
 Row(cube(salaire)=54646248.0),
 Row(cube(salaire)=153396592.0),
 Row(cube(salaire)=117312440.0),
 Row(cube(salaire)=290254656.0),
 Row(cube(salaire)=385670400.0),
 Row(cube(salaire)=888584384.0),
 Row(cube(salaire)=384991680.0),
 Row(cube(salaire)=412695488.0),
 Row(cube(salaire)=648303808.0),
 Row(cube(salaire)=400768096.0),
 Row(cube(salaire)=574331072.0),
 Row(cube(salaire)=595561664.0),
 Row(cube(salaire)=774825024.0),
 Row(cube(salaire)=932688832.0),
 Row(cube(salaire)=302267232.0),
 Row(cube(salaire)=383455936.0),
 Row(cube(salaire)=539182144.0),
 Row(cube(salaire)=903875136.0),
 Row(cube(salaire)=630353280.0),
 Row(cube(salaire)=207744368.0),
 Row(cube(salaire)=180081824.0),
 Row(cube(salaire)=588379968.0),
 Row(cube(salaire)=475183328.0),
 Row(cube(salaire)=4291207168.0),
 Row(cube(salaire)=535135904.0),
 Row(cube(salaire)=339370080.0),
 Row(cube(salaire)=388372320.0),
 Row(cube(salaire)=907087872.0),
 Row(cube(salaire)=455988320.0),
 Row(cube(salaire)=785426880.0),
 Row(cube(salaire)=550595392.0),
 Row(cube(salaire)=1087721984.0),
 Row(cube(salaire)=930898432.0),
 Row(cube(salaire)=612726016.0),
 Row(cube(salaire)=456084480.0),
 Row(cube(salaire)=931142336.0),
 Row(cube(salaire)=499151552.0),
 Row(cube(salaire)=824418560.0),
 Row(cube(salaire)=862929024.0),
 Row(cube(salaire)=265618704.0),
 Row(cube(salaire)=168871120.0),
 Row(cube(salaire)=880964672.0),
 Row(cube(salaire)=548592768.0),
 Row(cube(salaire)=420527680.0),
 Row(cube(salaire)=1518471936.0),
 Row(cube(salaire)=322492832.0),
 Row(cube(salaire)=382345280.0),
 Row(cube(salaire)=577895296.0),
 Row(cube(salaire)=711544320.0),
 Row(cube(salaire)=345962880.0),
 Row(cube(salaire)=853813376.0),
 Row(cube(salaire)=324188160.0),
 Row(cube(salaire)=227544448.0),
 Row(cube(salaire)=771792896.0),
 Row(cube(salaire)=334578496.0),
 Row(cube(salaire)=696795968.0),
 Row(cube(salaire)=443562336.0),
 Row(cube(salaire)=839709504.0),
 Row(cube(salaire)=288254048.0),
 Row(cube(salaire)=1005280896.0),
 Row(cube(salaire)=1691810688.0),
 Row(cube(salaire)=497380576.0),
 Row(cube(salaire)=510652192.0),
 Row(cube(salaire)=961469568.0),
 Row(cube(salaire)=814074944.0),
 Row(cube(salaire)=2937529856.0),
 Row(cube(salaire)=438668096.0),
 Row(cube(salaire)=582973760.0),
 Row(cube(salaire)=861484032.0),
 Row(cube(salaire)=301247808.0),
 Row(cube(salaire)=1367130112.0),
 Row(cube(salaire)=1167693440.0),
 Row(cube(salaire)=278677824.0),
 Row(cube(salaire)=339374272.0),
 Row(cube(salaire)=579491712.0),
 Row(cube(salaire)=738948288.0),
 Row(cube(salaire)=707091328.0),
 Row(cube(salaire)=162650816.0),
 Row(cube(salaire)=322310272.0),
 Row(cube(salaire)=403855776.0),
 Row(cube(salaire)=267076464.0),
 Row(cube(salaire)=313999840.0),
 Row(cube(salaire)=424010496.0),
 Row(cube(salaire)=682244096.0),
 Row(cube(salaire)=730661056.0),
 Row(cube(salaire)=1121101184.0),
 Row(cube(salaire)=1276202496.0),
 Row(cube(salaire)=2875358464.0),
 Row(cube(salaire)=733362112.0),
 Row(cube(salaire)=683200576.0),
 Row(cube(salaire)=677569984.0),
 Row(cube(salaire)=713719104.0),
 Row(cube(salaire)=1076381696.0),
 Row(cube(salaire)=1526934016.0),
 Row(cube(salaire)=777142464.0),
 Row(cube(salaire)=169668448.0),
 Row(cube(salaire)=623100608.0),
 Row(cube(salaire)=849418688.0),
 Row(cube(salaire)=719720512.0),
 Row(cube(salaire)=539379072.0),
 Row(cube(salaire)=628638592.0),
 Row(cube(salaire)=535644800.0),
 Row(cube(salaire)=485899968.0),
 Row(cube(salaire)=1560022656.0),
 Row(cube(salaire)=830606784.0),
 Row(cube(salaire)=1221322880.0),
 Row(cube(salaire)=1037682368.0),
 Row(cube(salaire)=215126288.0),
 Row(cube(salaire)=641694272.0),
 Row(cube(salaire)=1105471744.0),
 Row(cube(salaire)=990807232.0),
 Row(cube(salaire)=417901504.0),
 Row(cube(salaire)=855537984.0),
 Row(cube(salaire)=292506464.0),
 Row(cube(salaire)=973085952.0),
 Row(cube(salaire)=360026048.0),
 Row(cube(salaire)=551198208.0),
 Row(cube(salaire)=510493760.0),
 Row(cube(salaire)=2913709568.0),
 Row(cube(salaire)=659631936.0),
 Row(cube(salaire)=2642547200.0),
 Row(cube(salaire)=1018233216.0),
 Row(cube(salaire)=631826368.0),
 Row(cube(salaire)=535324160.0),
 Row(cube(salaire)=1098027648.0),
 Row(cube(salaire)=1506869632.0),
 Row(cube(salaire)=187209088.0),
 Row(cube(salaire)=731922304.0),
 Row(cube(salaire)=915283584.0),
 Row(cube(salaire)=1499181440.0),
 Row(cube(salaire)=539946368.0),
 Row(cube(salaire)=589366016.0),
 Row(cube(salaire)=989346368.0),
 Row(cube(salaire)=195950896.0),
 Row(cube(salaire)=1079803648.0),
 Row(cube(salaire)=228329888.0),
 Row(cube(salaire)=3483554560.0),
 Row(cube(salaire)=943709952.0),
 Row(cube(salaire)=491816032.0),
 Row(cube(salaire)=552355520.0),
 Row(cube(salaire)=2179705600.0),
 Row(cube(salaire)=737699328.0),
 Row(cube(salaire)=558281920.0),
 Row(cube(salaire)=346759392.0),
 Row(cube(salaire)=398608288.0),
 Row(cube(salaire)=697943040.0),
 Row(cube(salaire)=490505600.0),
 Row(cube(salaire)=849877312.0),
 Row(cube(salaire)=542049664.0),
 Row(cube(salaire)=495618528.0),
 Row(cube(salaire)=426254432.0),
 Row(cube(salaire)=475977280.0),
 Row(cube(salaire)=909053184.0),
 Row(cube(salaire)=439530080.0),
 Row(cube(salaire)=461968256.0),
 Row(cube(salaire)=455448224.0),
 Row(cube(salaire)=341156960.0),
 Row(cube(salaire)=749032768.0),
 Row(cube(salaire)=826782336.0),
 Row(cube(salaire)=1074412544.0),
 Row(cube(salaire)=1250534528.0),
 Row(cube(salaire)=1952005632.0),
 Row(cube(salaire)=851491392.0),
 Row(cube(salaire)=940815616.0),
 Row(cube(salaire)=523226144.0),
 Row(cube(salaire)=778700096.0),
 Row(cube(salaire)=915151808.0),
 Row(cube(salaire)=442827456.0),
 Row(cube(salaire)=808030848.0),
 Row(cube(salaire)=1496557696.0),
 Row(cube(salaire)=858608064.0),
 Row(cube(salaire)=441102688.0),
 Row(cube(salaire)=564051968.0),
 Row(cube(salaire)=573181248.0),
 Row(cube(salaire)=764150912.0),
 Row(cube(salaire)=529440512.0),
 Row(cube(salaire)=180685744.0),
 Row(cube(salaire)=446130048.0),
 Row(cube(salaire)=414581888.0),
 Row(cube(salaire)=451852480.0),
 Row(cube(salaire)=607677312.0),
 Row(cube(salaire)=851477888.0),
 Row(cube(salaire)=236324864.0),
 Row(cube(salaire)=476632672.0),
 Row(cube(salaire)=892836736.0),
 Row(cube(salaire)=773954112.0),
 Row(cube(salaire)=1765609984.0),
 Row(cube(salaire)=1444950016.0),
 Row(cube(salaire)=1414033152.0),
 Row(cube(salaire)=847185408.0),
 Row(cube(salaire)=397668768.0),
 Row(cube(salaire)=822398080.0),
 Row(cube(salaire)=299468864.0),
 Row(cube(salaire)=1267683968.0),
 Row(cube(salaire)=2477375232.0),
 Row(cube(salaire)=204074176.0),
 Row(cube(salaire)=445061376.0),
 Row(cube(salaire)=820447744.0),
 Row(cube(salaire)=943436736.0),
 Row(cube(salaire)=946583424.0),
 Row(cube(salaire)=683077056.0),
 Row(cube(salaire)=335174720.0),
 Row(cube(salaire)=476232864.0),
 Row(cube(salaire)=1774929664.0),
 Row(cube(salaire)=1231766912.0),
 Row(cube(salaire)=1298794240.0),
 Row(cube(salaire)=127414200.0),
 Row(cube(salaire)=183761264.0),
 Row(cube(salaire)=199071312.0),
 Row(cube(salaire)=576357696.0),
 Row(cube(salaire)=1671147520.0),
 Row(cube(salaire)=231269104.0),
 Row(cube(salaire)=657639680.0),
 Row(cube(salaire)=476486016.0),
 Row(cube(salaire)=606422336.0),
 Row(cube(salaire)=934679168.0),
 Row(cube(salaire)=277511392.0),
 Row(cube(salaire)=132012128.0),
 Row(cube(salaire)=560026048.0),
 Row(cube(salaire)=746845312.0),
 Row(cube(salaire)=484918432.0),
 Row(cube(salaire)=588873152.0),
 Row(cube(salaire)=153964464.0),
 Row(cube(salaire)=505127776.0),
 Row(cube(salaire)=717144320.0),
 Row(cube(salaire)=568527360.0),
 Row(cube(salaire)=1038334272.0),
 Row(cube(salaire)=768131648.0),
 Row(cube(salaire)=1421449472.0),
 Row(cube(salaire)=492772608.0),
 Row(cube(salaire)=273921856.0),
 Row(cube(salaire)=443834176.0),
 Row(cube(salaire)=138502992.0),
 Row(cube(salaire)=598310976.0),
 Row(cube(salaire)=309638208.0),
 Row(cube(salaire)=527724224.0),
 Row(cube(salaire)=439966368.0),
 Row(cube(salaire)=455208352.0),
 Row(cube(salaire)=838389312.0),
 Row(cube(salaire)=459751488.0),
 Row(cube(salaire)=352869632.0),
 Row(cube(salaire)=433479808.0),
 Row(cube(salaire)=1002640960.0),
 Row(cube(salaire)=247747280.0),
 Row(cube(salaire)=392362432.0),
 Row(cube(salaire)=565077248.0),
 Row(cube(salaire)=416460576.0),
 Row(cube(salaire)=82948568.0),
 Row(cube(salaire)=392278464.0),
 Row(cube(salaire)=326735936.0),
 Row(cube(salaire)=815130880.0),
 Row(cube(salaire)=1839255808.0),
 Row(cube(salaire)=791085376.0),
 Row(cube(salaire)=736633280.0),
 Row(cube(salaire)=552967040.0),
 Row(cube(salaire)=145103568.0),
 Row(cube(salaire)=761247488.0),
 Row(cube(salaire)=1038643008.0),
 Row(cube(salaire)=360138144.0),
 Row(cube(salaire)=660994496.0),
 Row(cube(salaire)=291036512.0),
 Row(cube(salaire)=1011160960.0),
 Row(cube(salaire)=376179424.0),
 Row(cube(salaire)=1598948864.0),
 Row(cube(salaire)=629760256.0),
 Row(cube(salaire)=2327464448.0),
 Row(cube(salaire)=462951264.0),
 Row(cube(salaire)=831896320.0),
 Row(cube(salaire)=294087936.0),
 Row(cube(salaire)=157938944.0),
 Row(cube(salaire)=251696304.0),
 Row(cube(salaire)=394100928.0),
 Row(cube(salaire)=486146656.0),
 Row(cube(salaire)=1061818688.0),
 Row(cube(salaire)=345869216.0),
 Row(cube(salaire)=503785312.0),
 Row(cube(salaire)=788738304.0),
 Row(cube(salaire)=473969248.0),
 Row(cube(salaire)=583990528.0),
 Row(cube(salaire)=470807104.0),
 Row(cube(salaire)=2097240960.0),
 Row(cube(salaire)=882082368.0),
 Row(cube(salaire)=326902720.0),
 Row(cube(salaire)=528439552.0),
 Row(cube(salaire)=567948096.0),
 Row(cube(salaire)=1255660160.0),
 Row(cube(salaire)=127908760.0),
 Row(cube(salaire)=171660848.0),
 Row(cube(salaire)=464737088.0),
 Row(cube(salaire)=326640128.0),
 Row(cube(salaire)=528139840.0),
 Row(cube(salaire)=346172576.0),
 Row(cube(salaire)=1691861888.0),
 Row(cube(salaire)=1300549120.0),
 Row(cube(salaire)=748903168.0),
 Row(cube(salaire)=453560672.0),
 Row(cube(salaire)=1044260416.0),
 Row(cube(salaire)=1327400320.0),
 Row(cube(salaire)=401356448.0),
 Row(cube(salaire)=320157792.0),
 Row(cube(salaire)=978576768.0),
 Row(cube(salaire)=649255680.0),
 Row(cube(salaire)=249873440.0),
 Row(cube(salaire)=452681888.0),
 Row(cube(salaire)=914889024.0),
 Row(cube(salaire)=681795200.0),
 Row(cube(salaire)=705290496.0),
 Row(cube(salaire)=1147411456.0),
 Row(cube(salaire)=1344659712.0),
 Row(cube(salaire)=596579200.0),
 Row(cube(salaire)=1217036928.0),
 Row(cube(salaire)=2253338112.0),
 Row(cube(salaire)=1825249408.0),
 Row(cube(salaire)=312746784.0),
 Row(cube(salaire)=813919104.0),
 Row(cube(salaire)=111482432.0),
 Row(cube(salaire)=198509728.0),
 Row(cube(salaire)=517181824.0),
 Row(cube(salaire)=374046336.0),
 Row(cube(salaire)=365164448.0),
 Row(cube(salaire)=1060021056.0),
 Row(cube(salaire)=705527616.0),
 Row(cube(salaire)=321558560.0),
 Row(cube(salaire)=447214016.0),
 Row(cube(salaire)=361761248.0),
 Row(cube(salaire)=1347594240.0),
 Row(cube(salaire)=158322240.0),
 Row(cube(salaire)=2101717120.0),
 Row(cube(salaire)=961940416.0),
 Row(cube(salaire)=1416067840.0),
 Row(cube(salaire)=677024640.0),
 Row(cube(salaire)=272404800.0),
 Row(cube(salaire)=526671168.0),
 Row(cube(salaire)=224245712.0),
 Row(cube(salaire)=1062560960.0),
 Row(cube(salaire)=1663928960.0),
 Row(cube(salaire)=745651840.0),
 Row(cube(salaire)=1025116928.0),
 Row(cube(salaire)=1006785408.0),
 Row(cube(salaire)=77540256.0),
 Row(cube(salaire)=418758656.0),
 Row(cube(salaire)=651903680.0),
 Row(cube(salaire)=577767040.0),
 Row(cube(salaire)=341672096.0),
 Row(cube(salaire)=1582547968.0),
 Row(cube(salaire)=296914848.0),
 Row(cube(salaire)=169898992.0),
 Row(cube(salaire)=1439646336.0),
 Row(cube(salaire)=517373280.0),
 Row(cube(salaire)=1545868416.0),
 Row(cube(salaire)=1524283392.0),
 Row(cube(salaire)=1028142016.0),
 Row(cube(salaire)=1082010368.0),
 Row(cube(salaire)=606372480.0),
 Row(cube(salaire)=1867046528.0),
 Row(cube(salaire)=469926432.0),
 Row(cube(salaire)=920461120.0),
 Row(cube(salaire)=769303296.0),
 Row(cube(salaire)=976095744.0),
 Row(cube(salaire)=1146579840.0),
 Row(cube(salaire)=215029728.0),
 Row(cube(salaire)=2206360576.0),
 Row(cube(salaire)=987792640.0),
 Row(cube(salaire)=100497392.0),
 Row(cube(salaire)=1237058304.0),
 Row(cube(salaire)=324052640.0),
 Row(cube(salaire)=497272608.0),
 Row(cube(salaire)=583958080.0),
 Row(cube(salaire)=649151232.0),
 Row(cube(salaire)=651506240.0),
 Row(cube(salaire)=5009006592.0),
 Row(cube(salaire)=525059872.0),
 Row(cube(salaire)=166813024.0),
 Row(cube(salaire)=850769856.0),
 Row(cube(salaire)=689340864.0),
 Row(cube(salaire)=415000480.0),
 Row(cube(salaire)=681613056.0),
 Row(cube(salaire)=186009360.0),
 Row(cube(salaire)=150033328.0),
 Row(cube(salaire)=1003907904.0),
 Row(cube(salaire)=683227072.0),
 Row(cube(salaire)=1460295552.0),
 Row(cube(salaire)=1445088512.0),
 Row(cube(salaire)=894278592.0),
 Row(cube(salaire)=487130240.0),
 Row(cube(salaire)=774773696.0),
 Row(cube(salaire)=1965672704.0),
 Row(cube(salaire)=831643392.0),
 Row(cube(salaire)=703357824.0),
 Row(cube(salaire)=360469632.0),
 Row(cube(salaire)=446042912.0),
 Row(cube(salaire)=1699552384.0),
 Row(cube(salaire)=1233289472.0),
 Row(cube(salaire)=213798992.0),
 Row(cube(salaire)=147392128.0),
 Row(cube(salaire)=2674193408.0),
 Row(cube(salaire)=669559424.0),
 Row(cube(salaire)=507350560.0),
 Row(cube(salaire)=240398528.0),
 Row(cube(salaire)=413293696.0),
 Row(cube(salaire)=456794976.0),
 Row(cube(salaire)=789082752.0),
 Row(cube(salaire)=267830704.0),
 Row(cube(salaire)=914349760.0),
 Row(cube(salaire)=1110591872.0),
 Row(cube(salaire)=487640224.0),
 Row(cube(salaire)=520046400.0),
 Row(cube(salaire)=240621040.0),
 Row(cube(salaire)=783250560.0),
 Row(cube(salaire)=1228033536.0),
 Row(cube(salaire)=416474368.0),
 Row(cube(salaire)=2082077056.0),
 Row(cube(salaire)=599903616.0),
 Row(cube(salaire)=464164480.0),
 Row(cube(salaire)=396652736.0),
 Row(cube(salaire)=1407953536.0),
 Row(cube(salaire)=615753280.0),
 Row(cube(salaire)=1505344000.0),
 Row(cube(salaire)=3820333056.0),
 Row(cube(salaire)=283117920.0),
 Row(cube(salaire)=596602560.0),
 Row(cube(salaire)=448063200.0),
 Row(cube(salaire)=710947456.0),
 Row(cube(salaire)=108436248.0),
 Row(cube(salaire)=794535616.0),
 Row(cube(salaire)=857778816.0),
 Row(cube(salaire)=270762400.0),
 Row(cube(salaire)=285528448.0),
 Row(cube(salaire)=398233600.0),
 Row(cube(salaire)=1788855168.0),
 Row(cube(salaire)=1282298496.0),
 Row(cube(salaire)=1021997504.0),
 Row(cube(salaire)=170129568.0),
 Row(cube(salaire)=1585696000.0),
 Row(cube(salaire)=1299963520.0),
 Row(cube(salaire)=334537056.0),
 Row(cube(salaire)=760721792.0),
 Row(cube(salaire)=463518560.0),
 Row(cube(salaire)=684092352.0),
 Row(cube(salaire)=514929888.0),
 Row(cube(salaire)=667561088.0),
 Row(cube(salaire)=610442816.0),
 Row(cube(salaire)=521381024.0),
 Row(cube(salaire)=1257716224.0),
 Row(cube(salaire)=530663008.0),
 Row(cube(salaire)=502798944.0),
 Row(cube(salaire)=566124032.0),
 Row(cube(salaire)=355728032.0),
 Row(cube(salaire)=169659360.0),
 Row(cube(salaire)=1208500096.0),
 Row(cube(salaire)=832652352.0),
 Row(cube(salaire)=2392524800.0),
 Row(cube(salaire)=1189305728.0),
 Row(cube(salaire)=225526080.0),
 Row(cube(salaire)=943705088.0),
 Row(cube(salaire)=728481088.0),
 Row(cube(salaire)=2012609024.0),
 Row(cube(salaire)=495494528.0),
 Row(cube(salaire)=377185312.0),
 Row(cube(salaire)=1927603712.0),
 Row(cube(salaire)=741580544.0),
 Row(cube(salaire)=404234080.0),
 Row(cube(salaire)=555107648.0),
 Row(cube(salaire)=723681600.0),
 Row(cube(salaire)=384990816.0),
 Row(cube(salaire)=625339328.0),
 Row(cube(salaire)=209880640.0),
 Row(cube(salaire)=1617527936.0),
 Row(cube(salaire)=357266144.0),
 Row(cube(salaire)=572376192.0),
 Row(cube(salaire)=411326784.0),
 Row(cube(salaire)=444649728.0),
 Row(cube(salaire)=647534464.0),
 Row(cube(salaire)=664241856.0),
 Row(cube(salaire)=608542464.0),
 Row(cube(salaire)=628820864.0),
 Row(cube(salaire)=339682944.0),
 Row(cube(salaire)=276113472.0),

# 6)	Etude de cas : analyse des fichiers de logs des cyclistes

In [6]:
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## 6.1)  Charger la donnée

In [14]:
path = "./data/Cyclistes/*.csv" 
cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)
cyclistes.count()

4868396

## 6.2) vérifier le nombre de cycles

Comptez le nombre d'id uniques.

In [15]:
ids = cyclistes.select("id").drop_duplicates()

ids.show()

+---+
| id|
+---+
|148|
|243|
| 31|
|251|
|137|
| 85|
| 65|
| 53|
|133|
| 78|
|108|
|155|
|193|
| 34|
|211|
|126|
|101|
|115|
| 81|
|183|
+---+
only showing top 20 rows

## 6.3) transformer les timestamp en date

Voici une fonction qui permert de récuperer la date sous forme de chaîne de caractère dans la colonne timestamps pour la transformer en date exploitable en tant que telle.

Créez une nouvelle colonne dans votre df stockant le résultat de cette fonction.

In [16]:
from pyspark.sql.types import TimestampType

@udf(returnType = TimestampType())
def transform_timestamp_in_date(timestamp):
    from datetime import datetime
    return datetime.strptime(timestamp, "%Y-%m-%d %H:%M:%S")

In [17]:
cyclistes = cyclistes.withColumn("date", transform_timestamp_in_date("timestamp"))

In [18]:
cyclistes.take(5)

[Row(id=246, timestamp='2018-01-01 00:01:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 1)),
 Row(id=246, timestamp='2018-01-01 00:02:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 2)),
 Row(id=246, timestamp='2018-01-01 00:03:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 3)),
 Row(id=246, timestamp='2018-01-01 00:04:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 4)),
 Row(id=246, timestamp='2018-01-01 00:05:00', sur_velo=False, velo='False', vitesse=0.02, position='(lon:22.62 lat:9.63)', destination_finale='False', date=datetime.datetime(2018, 1, 1, 0, 5))]

In [19]:
cyclistes.select("date").show(5)

+-------------------+
|               date|
+-------------------+
|2018-01-01 00:01:00|
|2018-01-01 00:02:00|
|2018-01-01 00:03:00|
|2018-01-01 00:04:00|
|2018-01-01 00:05:00|
+-------------------+
only showing top 5 rows

In [20]:
cyclistes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- sur_velo: boolean (nullable = true)
 |-- velo: string (nullable = true)
 |-- vitesse: double (nullable = true)
 |-- position: string (nullable = true)
 |-- destination_finale: string (nullable = true)
 |-- date: timestamp (nullable = true)

In [21]:
cyclistes.select("timestamp").show(5)

+-------------------+
|          timestamp|
+-------------------+
|2018-01-01 00:01:00|
|2018-01-01 00:02:00|
|2018-01-01 00:03:00|
|2018-01-01 00:04:00|
|2018-01-01 00:05:00|
+-------------------+
only showing top 5 rows

## 6.4) Durée des trajets par id.

A partir d'ici, il s'agit de traiter votre donnée pour récupérer la durée de chaque trajet effectué par chaque id.

1) trouvez les dates min/max par état de sur_velo, puis par id ET par état de sur_velo.

In [45]:
_ = cyclistes.groupBy(["sur_velo"]).agg(F.min(cyclistes.date), F.max(cyclistes.date))
_.collect()

NameError: name 'cyclistes' is not defined

In [46]:
_ = cyclistes.sort(["id", "date"]).groupBy(["id", "sur_velo"])\
                      .agg(F.min(cyclistes.date), F.max(cyclistes.date)).sort("id")
_.take(5)

NameError: name 'cyclistes' is not defined

2) Le résultat n'est pas trés pertinent, il faudrait plutôt le début et la fin de chaque trajet par id. Pour cela, il faudrait détecter les changements d'états "sur_vélo".
Utilisez la classe Window() et la fonction F.lag() pour créer une nouvelle colonne que vous appellerez changement, contenant un 0 si l'état précedent de sur_velo est le même et un 1 si l'état vient de changer (fonction changement() ci-dessous) pour chaque id.

In [ ]:
from pyspark.sql.functions import udf

In [ ]:
@udf(returnType = IntegerType())
def changement(etat_actuel, etat_precedent):
    """
    Détecte si les deux états sont différent.
    
    Parametres :
        etat_actuel : valeur sur la ligne courante
                      renvoyée par F.lag (0)
        etat_precedent : valeur sur la ligne précédente
                      renvoyée par F.lag(1)
    Return: 0 s'ils sont égaux, 1 s'il y a une différence
    """
    if etat_precedent == None:
        return 0
    if etat_precedent == etat_actuel:
        return 0
    if etat_actuel != etat_precedent:
        return 1

In [ ]:
from pyspark.sql.window import Window

In [ ]:
w = Window.orderBy(["id", "date"])

In [ ]:
cyclistes = cyclistes.withColumn("changement", changement( F.lag("sur_velo", 0).over(w), F.lag("sur_velo", 1).over(w)))

In [ ]:
cyclistes.printSchema()

In [ ]:
#cyclistes.select("id", "timestamp", "velo", "changement").sort("id", "timestamp").take(100)

3) Grâce à la fonction window appliquez la fonction somme() sur la colonne changement pour numeroter les trajets pour chaque id et stocker les résulats dans une nouvelle colonne appelée numero_de_trajet.

In [ ]:
@udf(returnType = IntegerType())
def somme(indice_actuel, indice_precedent):
    if indice_precedent == None:
        return 0
    return indice_actuel + indice_precedent

In [ ]:
windowval = Window.orderBy(["id", "date"])
windowval = windowval.partitionBy("id")
windowval = windowval.rangeBetween(Window.unboundedPreceding, 0)

In [ ]:
cyclistes = cyclistes.withColumn("numero_de_trajet", F.sum("changement").over(windowval))

In [ ]:
cyclistes.printSchema()

In [ ]:
cyclistes.select("id", "timestamp", "changement", "numero_de_trajet").take(5)

4) Il suffit maintenant de repêter la première étape, c'est a dire récupérer la début et la fin de chaque trajet pour chaque id. Puis calculer la durée des trajets.

In [ ]:
if False:
    debut_fin_trajets = cyclistes.groupBy(["id", "numero_de_trajet"])\
                                        .agg(   F.min(cyclistes.date) , 
                                                F.max(cyclistes.date) )

In [ ]:
trajets = cyclistes
debut_fin_trajets = trajets.groupBy(["id", "numero_de_trajet"]).agg(F.min(cyclistes.date),F.max(cyclistes.date))
debut_fin_trajets.take(4)

In [ ]:
trajets = trajets.groupBy(["id", "numero_de_trajet"])
trajets = trajets.agg(F.unix_timestamp(F.max(cyclistes.date)) - F.unix_timestamp(F.min(cyclistes.date)))
trajets = trajets.sort("id")

In [ ]:
trajets.printSchema()

In [ ]:
trajets = trajets.withColumnRenamed("(unix_timestamp(max(date), yyyy-MM-dd HH:mm:ss) - unix_timestamp(min(date), yyyy-MM-dd HH:mm:ss))", "duree")
trajets.take(4)

# 7) Datavisualisation

Convertissez votre dataframe pyspark en dataframe pandas.

In [1]:
import seaborn as sns
%matplotlib inline

In [2]:
df_pandas = trajets.toPandas()
df_pandas.head()

NameError: name 'trajets' is not defined

A l'aide de la librairie seaborn, réalisez un graphique en barre montrant la durée de tout les trajets.

Faire le même graphique mais cette fois-ci, faire en sorte qu'on puisse choisir un id et afficher seulement les trajets de cet id.

Sauvegardez votre dataset trajets au format csv dans le dossier data.